.dashboard p.data{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.dashboard h2{
    font-size: 20px;
} 

#ch-l {
float:left;
width: 50%
}
#ch-r {
float:right;
position:relative;
width: 50%
}
#ch-bd a{
    color: #897C04
}
/* block styles */
.block .ft .first {
    width:39px;
    background:url(/static/childcount/images/centerbox_bl.gif) no-repeat left bottom;
    height:19px;
    float:left;
}
.block .ft .last {
    background:url(/static/childcount/images/centerbox_br.gif) no-repeat right bottom;;
    width:39px;
    height:19px;
    float:right;
}
.block .bd {
    background:url(/static/childcount/images/centerbox_12.gif) repeat-y right;
    padding:0px 30px;
    display: block;
}
.block .block_child {
    background: url(/static/childcount/images/centerbox_l.gif) repeat-y left;
}
.block .hd {
    background: url(/static/childcount/images/centerbox_lt.gif) no-repeat 0 0;
}
.block .hd h2 {
    font-family:"Lucida Grand", Arial, Helvetica, sans-serif;
    background:url(/static/childcount/images/centerbox_t.gif) no-repeat right bottom;
    margin:0px;
    padding-left:20px;
    padding-bottom: 10px;
    color: #A34103;
    font-size:18px;
    font-weight:normal;
    border-bottom: 0px;
}
.block .ft a {
    float:left;
    padding: 10px;
}
.block .ft {
    padding:0px;
    background:url(/static/childcount/images/centerbox_b_bg.gif) repeat-x bottom;
    height:19px;
    clear: both;
}
.summary th {
    background-color: #f7f7f7;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: #00bbff;
    font-size: 1.0012em;
    text-align: center;
    -moz-border-radius:4px;
}
.summary td {
    background: #999999;
    border-color: #FFFFFF;
    border-style: dotted solid double;
    border-width: 0 1px 3px;
    color: #FFaa00;
    text-align: center;
    font-size: 1.8239em;
    font-weight: 900;
    -moz-border-radius: 10px;
}

.system_messages{
    padding: 0em;
    margin: 0;
}

.system_messages li {
    list-style: none;
    padding: 0.24em;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0.425em
}
.system_messages li span{
    width: 2em;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #cce;
    font-weight: 800;
    background: #999;
    color: #fa0;
    -moz-border-radius: 4px;
    padding: 2px;
}
