
.error_title, .errorlist {
    color: red;
    font-weight: bold;
}

.error_title {
    margin: 10px;
    padding: 5px;
    font-size: 13px;
}

body {
  font: 9pt/1 "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
  background-image: url("../images/body_shading.png");
  background-repeat: repeat-y;
  background-position: center top;
  font-size: 13px;
  padding: 0;
  margin: 0; }
  body .fwidth {
    margin: 0 auto;
    width: 1045px;
    position: relative; }

h2, h3 {
	background: none;
	border-bottom: 1px solid #db4;
	color: #953D27;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 0.5em;
	text-align: left;
	white-space: nowrap;
	line-height: 1;
}

div#header {
  position: relative;
  height: 72px;
  background-image: url("../images/header_repeat.png"); }
  div#header #logo {
    width: 296px;
    height: 66px;
    background-position: 15px 6px;
    display: block;
    background-image: url("../images/cclogo.png");
    background-repeat: no-repeat; }
    div#header #logo span {
      display: none; }
  div#header .language_select, div#header .account_links {
    position: absolute;
    right: 25px;
    color: #dddddd; }
  div#header .language_select a, div#header .account_links a {
    color: #dddddd; }
  div#header .language_select {
    bottom: 0px; }
  div#header .account_links {
    top: 5px; }

ul#menu {
  margin: 0;
  padding: 0;
  background-image: url("../images/menu_grad.png");
  background-repeat: repeat-x;
  height: 39px; }
  ul#menu li {
    float: left;
    line-height: 39px;
    list-style-type: none; }
    ul#menu li.selected {
      background-image: url("../images/menu_grad_hl.png"); }
    ul#menu li a {
      color: white;
      color: rgba(255,255,255,0.95);
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      padding: 3px 10px;
      margin: 1px 5px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border: 2px solid transparent;
      line-height: 37px;
      text-shadow: 1px 1px #5c2010; }
    ul#menu li:hover {
      background-image: url("../images/menu_grad_hl3.png"); }
  ul#menu li a:hover {
      color: #fff;
}
div#body, div#footer {
  position: relative; }

div#body {
  padding: 0 0 10px; }

div#footer .fwidth div {
  margin:0 -20px;
  padding:10px 20px;
/*--
  border: 1px solid #d7b5ad;
  border-color: #f5e7e4;
  border-width: 1px 0; --*/
}
div#footer .fwidth div a {
  color: #953d27;
  text-decoration: none;
}
.it.info {
    font-style: italic;
    color: #666;
    font-size: smaller;
}

a, a:link, a:active, a:focus, a:visited, a:hover {
    color: #953d27;
text-decoration: underline;
}
/*
Ukang'a: Copied and modified from static/webapp/stylesheets/layout.css 
*/

/* split a section vertically in
	 * half, with some css hackery */
	 
	#body div.split {
		padding: 0 0.5em;
	}
		
		/* TODO: explain the margins! */
		#body div.split .left {
			margin-left: -0.5em;
			float: left;
			border: none;
			width: 50%;
		}
		
		#body div.split .right {
			margin-right: -0.5em;
			float: right;
			border: none;
			width: 50%;
		}
	
	/* split a section into THREE */
	
	#body div.split-3 {
		padding: 0 1em;
	}
		
		#body div.split-3 .left {
			margin-left: -1em;
			float: left;
			border: none;
			width: 33%;
		}
		
		#body div.split-3 .mid {
			margin-right: 1em;
			margin-left: 1em;
			float: left;
			border: none;
			width: 34%;
		}
		
		#body div.split-3 .right {
			margin-right: -1em;
			float: right;
			border: none;
			width: 33%;
		}
	
	/* when an app has something really
	 * important to say, it can use the
	 * apps/webui/templates/message.html
	 * template to display a huge message */
	#body div.message {
		text-align: center;
		padding: 4em 25%;
	}
	
		#inner div.message p {
			margin: 0 0 0.5em 0;
			font-size: 2em;
		}


