
.error_title, .errorlist {
    color: red;
    font-weight: bold;
}

.error_title {
    margin: 10px;
    padding: 5px;
    font-size: 13px;
}

body {
  font: 9pt/1 "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
  background-image: url("../images/body_shading.png");
  background-repeat: repeat-y;
  background-position: center top;
  font-size: 13px;
  padding: 0;
  margin: 0; }
  body .fwidth {
    margin: 0 auto;
    width: 1045px;
    position: relative; }

div#header {
  position: relative;
  height: 72px;
  background-image: url("../images/header_repeat.png"); }
  div#header #logo {
    width: 296px;
    height: 66px;
    background-position: 15px 6px;
    display: block;
    background-image: url("../images/cclogo.png");
    background-repeat: no-repeat; }
    div#header #logo span {
      display: none; }
  div#header .language_select, div#header .account_links {
    position: absolute;
    right: 25px;
    color: #dddddd; }
  div#header .language_select a, div#header .account_links a {
    color: #dddddd; }
  div#header .language_select {
    bottom: 0px; }
  div#header .account_links {
    top: 5px; }

ul#menu {
  margin: 0;
  padding: 0;
  background-image: url("../images/menu_grad.png");
  background-repeat: repeat-x;
  height: 39px; }
  ul#menu li {
    float: left;
    line-height: 39px;
    list-style-type: none; }
    ul#menu li.selected {
      background-image: url("../images/menu_grad_hl.png"); }
    ul#menu li a {
      color: white;
      color: rgba(255,255,255,0.95);
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      padding: 3px 10px;
      margin: 1px 5px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border: 2px solid transparent;
      line-height: 37px;
      text-shadow: 1px 1px #5c2010; }
    ul#menu li:hover {
      background-image: url("../images/menu_grad_hl3.png"); }
  ul#menu li a:hover {
      color: #fff;
}
div#body, div#footer {
  position: relative; }

div#body {
  padding: 0 0 10px; }

div#footer .fwidth div {
  margin:0 -20px;
  padding:10px 20px;
/*--
  border: 1px solid #d7b5ad;
  border-color: #f5e7e4;
  border-width: 1px 0; --*/
}
div#footer .fwidth div a {
  color: #953d27;
  text-decoration: none;
}
.it.info {
    font-style: italic;
    color: #666;
    font-size: smaller;
}

a, a:link, a:active, a:focus, a:visited, a:hover {
    color: #953d27;
text-decoration: underline;
}
