
@font-face { font-family: WhiteRabbit; src: url("/static/childcount/WHITRABT.TTF"); }
@font-face { font-family: Lekton; src: url("/static/childcount/lekton005_l.otf"); }

body {
    font-family: Lekton,Courier,"Courier New",monospace,sans-serif;
    background-color: #414141;
    margin: 0;
    width: 100%;
    height: 100%;
}

table.rsmsList {
	border: 1px solid black;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 0 4px 0;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
}

table.rsmsList tr td {
	text-align: center;
	border: 1px solid #CCC;
	background-color:#efefef;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
	padding: 4px;
}

table.rsmsList tr td.letter, table.rsmsList tr td.s {
	font-weight: bold;
	background-color: #cbcbcb;
	border-color: #e4e4e4 #9d9d9d #808080 #d7d7d7;
}

table.rsmsList tr td {
    min-width: 1em;
    height: 1.5em;
    text-align: center;
    font-family: Lekton,Courier,"Courier New",monospace,sans-serif;
}

table.rsmsList tbody tr:last-child td {
    border-width: 4px 0;
    border-style: solid;
    border-color: #b5a296 #fff;
}
table.rsmsList tbody tr:last-child td:first-child {
    border-left-width: 4px;
}
table.rsmsList tbody tr:last-child td:last-child {
    border-right-width: 4px;
}

#form_wrapper {
    margin-top: 1%;
    margin-bottom: 1%;
}
label,input { display:block;}

table.rsmsList tbody {
    height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
table.rsmsList tbody tr {
    position: relative;
    height: 1.5em;
}

#message {
    font-family: Lekton,Courier,"Courier New",monospace,sans-serif;
    margin: auto auto;
    padding: 0.2em;

	background-color: #dedede;
	border: 2px solid #007;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
    -moz-border-radius: 13px;


    width: 90%;
    font-size: 1.5em;
    height: 2.0em;
    font-family: Lekton,Courier,"Courier New",monospace,sans-serif;
}

#ccform_body tr:last-child {
    color: blue;    
}

#ccform_body tr td:last-child {
    padding-right: 15px; 
    border-width: 0;
}

#ccform_body tr td img:hover {
    cursor: pointer;
}

#ccform_body tr:last-child td img, #ccform_head tr td img {
    opacity: 0.5;
    cursor: auto;
}

#ccform {
    width: 90%;
}

#ccform td:last-child {
    width: 2.5em;
}

#feedback {
    width: 90%;
	-moz-border-radius: 0;
}

table.response thead td {
    text-align: left;
}

#feedback tbody {
    height: 12em;
}

#feedback td.msg {
    text-align: left;
}

#feedback td.status {
    text-align: center;
}

#feedback tr td:first-child {
    width: 5%;
}

#form_buttons {
    position: absolute;
    left: 0;
    top: 1em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#form_buttons li {
    padding: 0.2em;
    margin: 0;
    line-height: 1em;

    font-size: 1.5em;
    color: white;

	border: 2px solid #007;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-left: 0;

    margin-bottom: 1em;
    background-color: #666;

    font-family: WhiteRabbit,Courier,"Courier New",monospace,sans-serif;
}

#form_buttons li.hover {
    background-color: green;
}

#form_buttons li:hover {
    cursor: pointer;    
}

input[type = 'submit'], label, h2 {
    display:none;
}

table.rsmsList thead.free tr td, table.rsmsList tbody.free tr td, table.rsmsList:first-child tr td {
    text-align: left;
}

#user_input {
    z-index:100;
    position: absolute;
    bottom:0;
    background-color: yellow;
    color: black;
    border-color: black;
    font-family: Lekton,Courier,"Courier New",monospace,sans-serif;
    width: auto;
}

#user_input p, #user_input input {
    display: inline;
}

#date {
    width: 6em;
}
