# rapidsms-community
__version__.py
*.pyc
*.swp
*~
local.ini
core.*
.project
.pydevproject
*.sqlite3
logs/*
\#*
.#*
*~
\#*
*.log*

#mac stuff
.DS_Store
._*
# eclipse stuff
.settings
#netbeans
nbproject

# common 3rd parties
apps/admin
apps/ajax
apps/httptester
apps/locations
apps/logger
apps/messaging
apps/patterns
apps/reporters
apps/scheduler
apps/webapp
apps/i18n
apps/airtime
apps/bednets
apps/censor
apps/counter
apps/django_extensions
apps/echo
apps/export
apps/ezsms
apps/fail
apps/form
apps/fortune
apps/iavi
apps/injector
apps/math
apps/poll
apps/querylog
apps/questions
apps/responder
apps/sms2irc
apps/socialsms
apps/stringcleaning
apps/supply
apps/training
apps/tree

# web server
django_wsgi.py
uwsgi.xml

# django
settings.py

# dev
*.sqlite

#reports
apps/childcount/rpts

#celery
celerybeat-schedule

*.sql
*.bz2
