# rapidsms-community
__version__.py
*.pyc
*.swp
*~
local.ini
core.*
.project
.pydevproject
*.sqlite3
logs/*
\#*
.#*
*~
\#*
*.log*
.DS_Store
._*
# eclipse stuff
.settings
#netbeans
nbproject

# common 3rd parties
apps/admin
apps/ajax
apps/httptester
apps/locations
apps/logger
apps/messaging
apps/patterns
apps/reporters
apps/scheduler
apps/webapp
apps/i18n

# web server
django_wsgi.py
uwsgi.xml

# django
settings.py

# dev
*.sqlite

#reports
apps/childcount/rpts
