{% extends base_template %}
{% block title %}Message Log{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/logger_ng/js/jquery-1.4.2.js"></script><!-- needs ability to parseJSON -->
<script type="text/javascript" src="/static/logger_ng/js/jquery.buildin.js"></script>
<script type="text/javascript" src="/static/logger_ng/js/logger_reply.js"></script>
<script type="text/javascript" src="/static/logger_ng/js/jquery.buildin.templates.js"></script>
{% endblock %}


{% block page_stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/logger_ng/css/sms-replies.css" />
<link rel="stylesheet" type="text/css" href="/static/logger_ng/css/style.css" />
{% endblock %}

{% block content %}

<h2>Incoming Message Log</h2>

<script type="text/javascript">
<!--
var messageBuffer = [];
-->
</script>


<div id="ajax-logger" style="display:none">
	<table class='msgs'></table>
</div>
<div id="non-ajax-message-list">
{% for msg in msgs.object_list %}

<script type="text/javascript">
<!--
messageBuffer.push({{msg.to_json|safe}})
-->
</script>

<div class="lng_msg">
    <div class="details">
        <span class="date">{{msg.date|date:"d-M-Y @ H:m:s"}}</span>
        <span class="from">{{msg.ident_string}}</span>
    </div>
    <div class="msg {% if msg.is_incoming %}text{% else %}response{% endif %}">{{msg.text}}</div>
    {% for response in msg.response.all %}
        <div class="msg response">{{response.text}}</div>
    {% endfor %}
    {% if perms.logger_ng.can_respond and msg.is_incoming %}
        <div class="respond"><form action="" method="post">
            <input class="resp_box" name="respond_{{msg.id}}" type="text" />
            <input type="submit" value="Respond" />
        </form></div>
    {% endif %}
</div>

{% endfor %}

</div>

<script type="text/javascript">
	var CurrentLang = "en",
		ExchangeSettings = {
		'token' : "qwertyuiopasdfghjklzxcvbnm",
		'msgPOSTurl' : "/logger_ng/post_message"
		},
		Translations;

	// window.navigator.language is not reliable in all browsers, but
	// might be good for surprising kevin+renaud with a french ui
	CurrentLang = (window.navigator.language.toLowerCase()=="en-us") ? "en" : "fr";
	
	Translations = {
		'en': {
			'response': "Response",
			'responses': "Responses",
			'reply': 'Respond',
			'status': {
				'good': "Status: Good",
				'warning': "Status: Warning",
				'pending': "Status: Pending",
				'error': "Status: Error",
				'info': "Status: Info"
			},
			'sendMessage': "Send",
			'tooManyCharacters': "Too many characters"
		},
		'fr': {
			'response': "Réponse",
			'responses': "Réponses",
			'reply': "Répondre",
			'status': {
				'good': "Statut: Bon",
				'pending': "Statut: Pending",
				'warning': "Statut: Warning",
				'error': "Statut: Error",
				'info' : "Statut: Info"
			},
			'sendMessage': "Envoyer",
			'tooManyCharacters': "Too many characters (in French)"
		}
	};
	
	(function(){
		//creates the wrapping table with class msgs
		var tableWrap = $('#ajax-logger table.msgs'),
			pageNumber = "{{msgs.number}}";
		
		SmsExchange.placeIn(tableWrap);
		$(messageBuffer).each(function(){
			new SmsExchange.constructor(this);
		});
		
		$('#non-ajax-message-list').hide();
		$('#ajax-logger').show();

		if(pageNumber=="1") {
			//updates list every 5 seconds, must be called after table is populated and only on the first page (when paginated)
	        $.listenForMessages("/logger_ng/latest_messages/", 5000);
		}
	})();
	
	
</script>

<table class="lng_page">
<tr><td>
        {% if msgs.has_previous %}
            <a href="?page={{ msgs.previous_page_number }}">Previous</a>
        {% endif %}
</td><td>
            Page <span id="page_number">{{ msgs.number }}</span> of {{ msgs.paginator.num_pages }}
</td><td>
        {% if msgs.has_next %}
            <a href="?page={{ msgs.next_page_number }}">Next</a>
        {% endif %}
</td></tr>
</table>

{% endblock %}
