
@font-face { font-family: Lekton; src: url("/static/dataentry/lekton005_l.otf"); }

/* reset table styles */
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border: 0;
}
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }


table.rsmsList {
	border: 1px solid #f1f1f1;
	background-color: #fff;
    background-color: #f1f1f1;
	margin: 0 auto;
	padding: 0 0 4px 0;
}

table.rsmsList tr td {
	text-align: center;
	border: 1px solid #CCC;
	background-color:#efefef;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
	padding: 4px;
}

table.rsmsList tr td.letter, table.rsmsList tr td.s {
	font-weight: bold;
	background-color: #cbcbcb;
	border-color: #e4e4e4 #9d9d9d #808080 #d7d7d7;
}

table.rsmsList tr td {
    min-width: 1em;
    height: 1.5em;
    text-align: center;
    font-family: Lekton;
}

table.rsmsList.sent tbody tr:last-child td {
    border-width: 4px 0;
    border-style: solid;
    border-color: #b5a296 #fff;
}
table.rsmsList tbody tr:last-child td:first-child {
    border-left-width: 4px;
}
table.rsmsList.sent tbody tr:last-child td:last-child {
    border-right-width: 4px;
}

#form {
    margin-top: 1%;
    margin-bottom: 1%;
}
/*label,input { display:block;}*/

table.rsmsList tbody, #ccform_body, #log {

    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    height: 230px;
}
table.rsmsList tbody tr {
    position: relative;
    height: 1.5em;
}

#message {

    font-family: Lekton;

    margin: auto auto;
    padding: 0.2em;

	background-color: #dedede;
	border: 2px solid #007;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
    width: 98%;
    font-size: 2em;
}

#ccform_body tr:last-child {
    color: blue;    
}

#ccform_body tr td:last-child {
    padding-right: 15px; 
    border-width: 0;
}

#ccform_body tr td img:hover {
    cursor: pointer;
}

#ccform_body tr:last-child td img, #ccform_head tr td img {
    opacity: 0.5;
    cursor: auto;
}

#ccform {
    width: 100%;
}

#ccform td:last-child {
    width: 2.5em;
}

#feedback {
    width: 100%;
	-moz-border-radius: 0;
}

table.response thead td {
    text-align: left;
}

#feedback tbody {
    height: 12em;
}

#feedback td.msg {
    text-align: left;
}

#feedback td.status {
    text-align: center;
}

#feedback tr td:first-child {
    width: 5%;
}

input[type = 'submit'], label {
    display:none;
}

table.rsmsList thead.free tr td, table.rsmsList tbody.free tr td {
    text-align: left;
}

#phone {
    width: 6.5em;
}
