/*-- this is a work in progress --*/

#wwrap {
	background-image:url('../images/threadedBg.png');
	background-repeat: repeat-both;
	border: 7px solid #cf1313;
	margin: 0 12px 6px 12px;
	-moz-border-top-colors: #eaeaea #eaeaea #eaeaea #ffffff #ffffff #ffffff #ffffff;
	-moz-border-left-colors: #eaeaea #eaeaea #eaeaea #ffffff #ffffff #ffffff #ffffff;
	-moz-border-right-colors: #d7d4b8 #bfbca4 #e7e7e7 #e7e7e7 #ffffff #ffffff #ffffff;
	-moz-border-bottom-colors: #d7d4b8 #bfbca4 #e7e7e7 #e7e7e7 #ffffff #ffffff #ffffff;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
}