body {
	font-family: Arial;
	background-color: #635528;
	margin: 3px;
	width: 100%;
	height: 100%;
}

#wwrap {
	background-image:url('../images/threadedBg.png');
	background-repeat: repeat-both;
	border: 7px solid #cf1313;
	margin: 0 12px 6px 12px;
	-moz-border-top-colors: #eaeaea #eaeaea #eaeaea #ffffff #ffffff #ffffff #ffffff;
	-moz-border-left-colors: #eaeaea #eaeaea #eaeaea #ffffff #ffffff #ffffff #ffffff;
	-moz-border-right-colors: #d7d4b8 #bfbca4 #e7e7e7 #e7e7e7 #ffffff #ffffff #ffffff;
	-moz-border-bottom-colors: #d7d4b8 #bfbca4 #e7e7e7 #e7e7e7 #ffffff #ffffff #ffffff;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
}
#content {
	position: absolute;
	height: 100%;
}
.widew {
	margin: 0 auto;
	position: relative;
}
div.fieldHelp {
	position: absolute;
	width: 200px;
	border: 0px solid blue;
	top: 4px;
	left: 0px;
}

#thead * {
	z-index: 300;
}
.widew .iw {
	z-index: 100;
	height: 300px;
	position: relative;
/*	background-image:url('../images/pretty-tables-rm.png');
	background-repeat: repeat-y; */
	background-position: right center;
	padding: 4px 16px;
}
.widew .iw .tw {
	position: relative;
	margin: 2px 0 0 0;
}
#shd {
	background-image: url('../images/shade.png');
	width: 100%;
	height: 91px;
	background-repeat: repeat-x;
	position:fixed;
	top:0;
	z-index:100;
}
div.bw {
	position: relative;
	background-image: url('../images/pretty-table-bm.png');
	background-repeat: repeat-x;
	height: 17px;
}
div.bw input#create_sms, div.bw input#cancel { 
	top:10px;
	right:20px;
	position:absolute;
}
div.bw input#cancel {
	top: 40px;
}
div.bwI {
	position: absolute;
	background-image: url('../images/pretty-table-bl.png');
	background-repeat: no-repeat;
	height: 17px;
	width: 47px;
	left: 0px;
}
div.bwII {
	position: absolute;
	background-image: url('../images/pretty-table-br.png');
	background-repeat: no-repeat;
	right: 0px;
	width: 45px;
	height: 17px;
}
#wbar #Delme {
	position: relative;
	left: 0; top: 0;
	margin: -7px 0 0 0px;
	height: 91px;
	background-image: url('../images/pretty-tables-tm.png');
	background-repeat: repeat-x;
	background-position: center top;
	z-index: 201;
}
#thead {
	position: relative;
	height: 37px;
	border: 2px solid rgba(176,164,139,0.9);
	border-width: 1px 0 2px 0;
	margin: 0; padding: 0;
	width: 100%;
	top: 15px;
	background-image: url('../images/grad-bar.png');
	background-repeat: repeat-x;
	background-position: center top;
	z-index: 199;
   -moz-box-shadow: 0 2px  0px rgba(120, 120, 120, 0.75);
}
#loadingbox {
	position: absolute;
	left: 150px;
	top: 70px;
}
#widebar h2, #widebar h3, #widebar p {
	display: inline;
	line-height: 40px;
}
#thead #form_logo {
	position: absolute;
	left: -1px; top: 4px;
	width: 108px;
	height: 91px;
	background-color: rgba(255,255,255,0.85);
	border: 4px solid #fff;
	width: 130px; height: 68px;
	-moz-border-radius:  0em 0em 1.0em 0.5em;
   -moz-box-shadow: rgba(120,120,120,0.2) 2px 2px 4px;
	-webkit-box-shadow: black 4px 5px 5px;
	-moz-border-right-colors: #ccc6b2 #ccc6b2 #ddd9cb #f7f7f7;
	-moz-border-bottom-colors: #ccc6b2 #ccc6b2 #ddd9cb #f7f7f7;
/*	-moz-border-radius-bottomright: 19px;
	background-image: url('../images/pretty-tables-tl.png'); */
}
#thead #form_logo a {
	position: absolute;
	top: 8px;
	left: 6px;
	display: block; border: 0px none;
	width: 69px;
	height: 64px;
	background-image: url('../images/logo_under5.png');
}
#thead #form_logo a span {
	display: none;
}
#thead h2.title {
	font-family: Arial;
	position: absolute;
	top: 10px;margin:0;padding: 0;
	left: 155px;
}
#thead table#rt_info {
	position: absolute;
	right: 345px;
	top: 5px;
	font-weight: normal;
	font-size: 11px;
	text-align: right;
}
#thead table#rt_info tr * {
	padding: 0px 6px;
}
#thead #rt_select {
	position:absolute;right:54px;top:8px
}
#thead #rt_select select {
	font-size:22px;
	width: 220px;
	text-align: center;
}
#thead #edit_button {
	position: absolute;
    right: 4px;
	top: 14px;
}


div#entry_bar {
	bottom: -97px;
	position: absolute;
	z-index:300;
	background-color: #ddd;
	width: 915px;
	height: 75px;
	margin: 0 -20px;
	padding: 6px 12px;
	border: 2px solid #007;
	-moz-border-radius: 15px;
}
div#entry_bar.disabled {
	display: none;
}
input.de {
	width: 30px;
	font-size: 14px;
}
table.rsmsList {
	border: 1px solid black;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 0 4px 0;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
}
table.rsmsList tr.headRow th.colh {
	border: 1px solid #bbb;
	background-color: #efefef;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
}
table.rsmsList tr.headRow th.catTitle, table.rsmsList tr.headRow th.letter {
	background-color: #cbcbcb;
	border: 1px solid #000;
	border-color: #e4e4e4 #9d9d9d #808080 #d7d7d7;
}
table.rsmsList tr td {
	text-align: center;
	border: 1px solid #CCC;
	background-color:#efefef;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
	padding: 4px;
}
table.rsmsList tr.adviceRow td {
	border-width: 0px 1px 0 0;
	border-color: #ddd;
	background-color: #fff;
	border-style: solid;
	padding: 0;
	margin: 0;
}
table.rsmsList tr.adviceRow td > div {position: relative;}
table.rsmsList tr.adviceRow td > div {
	margin: 0;
	background-color: transparent;
	border-style: none;
	height: 20px;
	border-width: 4px 0;
	border-color: rgba(255,255,255,0)  rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
}
table.rsmsList tr.adviceRow.top td > div {
	border-top-width: 0;
}
table.rsmsList tr.adviceRow.bottom td > div {
	border-bottom-width: 0;
}
table.rsmsList tr.adviceRow td.selected > div {
	border-style: solid;
	border-color: #b5a296  #fff
}
table.rsmsList tr.adviceRow td.selected:first-child > div {
	border-left-width: 4px;
}
table.rsmsList tr.adviceRow td.selected:last-child > div {
	border-right-width: 4px;
}

table.rsmsList tr.adviceRow td > div > div {
	padding: 0; margin: 0;
	position: absolute;
}
table.rsmsList tr.editBar {
	display: none;
}
table.rsmsList.edit tr.editBar {
	display: table-row;
}
table.rsmsList tr.editButton {
	display: table-row;
}
table.rsmsList.edit tr.editButton {
	display: none;
}
table.rsmsList tr.helpRow td {
	background-color: #fff;
	border-color: #f4f4f4 #b9b9b9 #979797 #f1f1f1;
	-moz-border-radius-bottomleft: 13px;
	-moz-border-radius-bottomright: 13px;
}
table.rsmsList tr td.letter {
	font-weight: bold;
	background-color: #cbcbcb;
	border-color: #e4e4e4 #9d9d9d #808080 #d7d7d7;
}

table.rsmsList tr.headRow th div {
	font-size: 8px;
	position: relative;
	display:none;
}
table.rsmsList tr.headRow th div.image-wrap {
	width: 40px;
	height: 50px;
	position: relative;
	display: block;
}
table.rsmsList tr.headRow th div.image-wrap div.image {
	position: absolute;
	top: 0px;
	right: 0px;
	
	display:block;
	width: 40px;
	height: 50px;
}
table.rsmsList tr.headRow th div.rotate {
	display:none;
	position: relative;
	-moz-transform: rotate(90deg);
	height: 50px;
	font-size: 9px;
	background-repeat: no-repeat;
	background-position: center bottom;
}


.data {display:none;}

table.rsmsList td.status {padding:0; border: 1px solid #eee; background-color: #eee;}
table.rsmsList td.status a { display:block;height:24px;width:24px; background-color: inherit; border: 1px solid inherit;}
table.rsmsList td.status.unk { border-color:#eee; background-color: #eee; }
table.rsmsList td.status.good { border-color:#a2ba78; background-color: #a2ba78; }
table.rsmsList td.status.bad { border-color:#cf1313; background-color: #cf1313; }


table.rsmsList.oe tr td {background-color:#eee; }
table.rsmsList.oe tr.odd td { background-color:#ddd; }

table.rsmsList tr.editButtonRow td {padding: 0;}
table.rsmsList tr.editButtonRow td div.editField { display: none;position: relative;}
table.rsmsList tr.editButtonRow td.edit div.editField { display: block; }
table.rsmsList tr.editButtonRow td .showField { display: block;}
table.rsmsList tr.editButtonRow td.edit .showField { display: none; }

table.rsmsList tr.editButtonRow div.editField div.advice {
	color:blue;
	position: absolute;
	top:32px;
	background-color:#dfdfdf;
	-moz-border-radius: 4px;
	border: 1px solid blue;
	padding: 20px 12px 12px;
	width: 300px;
	z-index:300;
	text-align: left;
}
table.rsmsList tr.editButtonRow div.editField div.advice:before {
	content: '['attr(title)']';
	display:block;
	font-size: 11px;
	text-decoration: underline;
	background-color: #fff;
	margin: -20px -12px 7px;
	padding: 5px 14px;
	border: 1px solid #333;
	border-width: 0 0 1px 0;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

table.rsmsList tr.editButtonRow .showField {
	color: #222;
	text-decoration: none;
	border: 0px none;
	padding: 0 0 1px 0;
	height: 40px;
	line-height: 40px;
	min-width: 30px;
}

div.buttons {
	width: 700px;
}

#available_table_data div.buttons a, #available_table_structure_data div.buttons a {
	display:block;
	float:left;
	padding: 4px;
	margin: 1px;
	width: 200px;
	border: 1px solid #bbb;
}
#available_table_data div.buttons a.showing, #available_table_structure_data div.buttons a.showing {
	color: #fff;
	background-color: #cf1313;
}
#available_table_data h2, #available_table_structure_data h2 {
	clear:both;
	font-size: 16px;
	font-family: Arial;
	margin: 0;
	padding: 0;
	
}
#available_table_data, #available_table_structure_data {
	margin: 12px 4px;
}
#available_data {
	position: fixed;
	right: 10px;
	top: 10px;
}

ul#big_buttons {
	position: fixed;
	width: 800px;
	margin: 0 auto;
	margin: 0 0 0 -400px;
	left: 50%;
	bottom: 8px;
	list-style-type:none;
	z-index: 400;
}
div#chws {
	list-style-type: none;
	position: absolute;
	width: 100px;
	font-size: 11px;
	font-family: Arial;
	color: #635528;
	left: 0px;
	top: 0;
}
div#chws ul {
	list-style-type:none;
}
div#chws ul li {
	margin: 0;padding: 0;
}