body * {
	padding: 0;margin:0;font-family: Arial;
}
#forms {
	width: 400px;
}
#forms ul {
	margin: 4px 0;
	padding: 0;
	display: inline;

}

#forms ul ul ul li {
	border-width: 0 0 0 4px;
	border-color: #aaa;
	-moz-border-radius: 0px;
}
#forms > ul {padding: 0 7px 0 0;}
#forms > ul > li:before {content: 'FORM ID: 'attr(id); font-size: smaller;}
#forms > ul > li { border: 1px solid black; padding: 0 7px 0 0;}

#forms li.catTitle p:before {
	content: '+'attr(letters);
}

p, li {
	border: 2px solid #fff;
	-moz-border-radius: 8px;
}
p {
	padding: 9px;
	margin: 0px;
}
li {
	padding: 4px 0 4px 12px;
	list-style-type: none;
}
li > p:before { font-size: smaller; }
p.columnDef {
	background-color: #ddf;
	border: 2px solid #99f;
}
p.columnDef:after {content: ' [ 'attr(id)' ] ';font-size: smaller;opacity: 0.7;float:right;}
p.categoryDef {
	background-color: #dfd;
	border: 2px solid #9f9;
}
p.categoryDef:before {content: 'Category: ';}
ul#lcolumns, ul#lforms {
	height: 100px;
	width: 500px,
	clear: both;
}
ul#lcolumns li, ul#lforms li {
	float: left;
	border: 0px solid blue;
	font-size: smaller;
	padding: 4px;
}
ul#lforms li {
	border-color: red;
}