{% extends base_template %}
{% load i18n %}

{% block page_stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/reportgen/stylesheets/basic.css"/>
{% endblock page_stylesheets %}


{% block javascripts %}
<script type="text/javascript" language="javascript" src="/static/reportgen/scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/reportgen/scripts/jquery.ui.core.js"></script>
{% endblock javascripts %}

{% block page_tabs %}

{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{% include "heading.html" %}

{% block center %}{% endblock %}
{% endblock %}
