{% extends "frame.html" %}
{% block center %}
{% load i18n %}

<table style="width:100%">
{% for n in nightly %}
    <tr>
        <td colspan="5" padding=0 style="padding:0">
            <h3 style="font-weight:normal;color:black;background:none;font-size:1.2em;border-bottom:0; margin:0">
                <strong>{{ n.obj.report.title }}</strong>: 
                {{ n.obj.time_period_current }}
            </h3>
        </td>
    <tr>
        <th>{% trans "Variant" %}</th>
        <th>{% trans "HTML" %}</th>
        <th>{% trans "PDF" %}</th>
        <th>{% trans "Excel" %}</th>
        <th>{% trans "Other" %}</th>
    </tr>
    {% for v in n.variants %}
        <tr>
            <td>{% if v.title %}{{ v.title }}{% else %}{% trans "Report" %}{% endif %}</td>
            <td>
            {% if v.formats.html %}
                {% if v.formats.html.finished_at %}
                    <a href="/static/reportgen/nightly/{{v.formats.html.filename}}">
                        <img src="/static/reportgen/icons/html.png" alt="XLS" />
                    </a>
                        ({{ v.formats.html.finished_at|date:"d-M-Y" }} at
                    {{ v.formats.html.finished_at|date:"H:i" }})<br />
                    {% if v.formats.html.late %}
                        <span class="late"><img src="/static/reportgen/icons/warning.png" /> {% trans "Report is" %} {{ v.formats.html.late }} {% trans "days(s) old" %}</span>
                    {% endif %}
                {% else %}
                    <img src="/static/reportgen/icons/error.png" alt="{% trans "Not generated" %}" />
                    {% trans "(Not generated)" %}
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
            </td>
            <td>
            {% if v.formats.pdf %}
                {% if v.formats.pdf.finished_at %}
                    <a href="/static/reportgen/nightly/{{v.formats.pdf.filename}}">
                        <img src="/static/reportgen/icons/pdf.png" alt="XLS" />
                    </a>
                        ({{ v.formats.pdf.finished_at|date:"d-M-Y" }} at
                    {{ v.formats.pdf.finished_at|date:"H:i" }})<br />
                    {% if v.formats.pdf.late %}
                        <span class="late"><img src="/static/reportgen/icons/warning.png" /> {% trans "Report is" %} {{ v.formats.pdf.late }} {% trans "days(s) old" %}</span>
                    {% endif %}
                {% else %}
                    <img src="/static/reportgen/icons/error.png" alt="{% trans "Not generated" %}" />
                    {% trans "(Not generated)" %}
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
            </td>

            <td>
            {% if v.formats.xls %}
                {% if v.formats.xls.finished_at %}
                    <a href="/static/reportgen/nightly/{{v.formats.xls.filename}}">
                        <img src="/static/reportgen/icons/xls.png" alt="XLS" />
                    </a>
                        ({{ v.formats.xls.finished_at|date:"d-M-Y" }} at
                    {{ v.formats.xls.finished_at|date:"H:i" }})<br />
                    {% if v.formats.xls.late %}
                        <span class="late"><img src="/static/reportgen/icons/warning.png" /> {% trans "Report is" %} {{ v.formats.xls.late }} {% trans "days(s) old" %}</span>
                    {% endif %}
                {% else %}
                    <img src="/static/reportgen/icons/error.png" alt="{% trans "Not generated" %}" />
                    {% trans "(Not generated)" %}
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
            </td>
            <td>
            {% for f in v.formats %}
                {% ifnotequal f "html" %}
                {% ifnotequal f "pdf" %}
                {% ifnotequal f "xls" %}
                <a href="/static/reportgen/nightly/{{ f.filename }}">{{ f.upper }}</a> 
                ({{ f.finished_at|date:"d-M-Y" }} at {{ f.finished_at|date:"H:i" }}){% if forloop.last %}{% else %} 
                | {% endif %}
                {% endifnotequal %}
                {% endifnotequal %}
                {% endifnotequal %}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
