{% extends "frame.html" %}
{% block page_stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/reportgen/stylesheets/ondemand.css"/>
{% endblock %}

{% block center %}
<script>
{% autoescape off %}
var data = {{ data }};
var choices = {{ choices }};
var updates = [];
{% endautoescape %}
</script>
<script type="text/javascript" language="javascript" src="/static/reportgen/scripts/ondemand.js"></script>

<form id="gen_form" method="POST">
    <select id="report" class="sorted" name="report_pk">
        <option value="">[Report]</option>
    </select>
    <select id="variant" class="sorted" disabled="true" name="variant_index">
        <option value="">[Variant]</option>
    </select>
    <select id="rformat" class="sorted" disabled="true" name="rformat">
        <option value="">[File Type]</option>
    </select>
    <select id="period_type" class="sorted" name="period_type_code">
        <option value="">[Time Period Type]</option>
    </select>
    <select id="period" disabled="true" name="period_index">
        <option value="">[Dates]</option>
    </select>
    <input id="submit" type="submit" disabled="true" value="Generate!"></input>
</form>

{% if data.msg %}
    <strong>{{ data.msg }}</strong>
{% endif %}
<p><em>Note: Only the latest 30 reports are shown.</em></p>
<table style="width:100%">
    <tr>
        <th>&nbsp;</th>
        <th>Download</th>
        <th>Title</th>
        <th>Variant</th>
        <th>Time Period</th>
        <th>Status</th>
        <th>Finished at</th>
    </tr>
    {% for rep in gen %}
    <tr id="row_{{ rep.pk }}">
        {% include "status_row.html" %}
    </tr>
    {% if rep.is_failed %}
        {% include "error_row.html" %}
    {% endif %}
    {% endfor %}
</table>

<p id="status">
    <strong>Generation status:</strong>
    {% if workers.0 and workers.1 %}
        <span class="ok">Message queue is OK</span>, 
        <span class="ok">
            {{ workers.1 }} worker{{ workers.1|pluralize }} 
                {{ workers.1|pluralize:"is,are" }} running.
        </span>
    {% else %}
        {% if not workers.0 %}
            <span class="failed">RabbitMQ is down.</span>
        {% else %}
            RabbitMQ is up, 
            but workers (celeryd) are down or busy.
        {% endif %}
    {% endif %}
</p>

{% endblock %}
