{% extends "frame.html" %}
{% block page_stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/reportgen/stylesheets/ondemand.css"/>
{% endblock %}

{% block center %}
<script>
{% autoescape off %}
var data = {{ data }};
var choices = {{ choices }};
var updates = [];
{% endautoescape %}
</script>
<script type="text/javascript" language="javascript" src="/static/reportgen/scripts/ondemand.js"></script>

<form id="gen_form" method="POST">
    <select id="report" class="sorted" name="report_pk">
        <option value="">[Report]</option>
    </select>
    <select id="variant" class="sorted" disabled="true" name="variant_index">
        <option value="">[Variant]</option>
    </select>
    <select id="rformat" class="sorted" disabled="true" name="rformat">
        <option value="">[File Type]</option>
    </select>
    <select id="period_type" class="sorted" name="period_type_code">
        <option value="">[Time Period Type]</option>
    </select>
    <select id="period" disabled="true" name="period_index">
        <option value="">[Dates]</option>
    </select>
    <input id="submit" type="submit" disabled="true" value="Generate!"></input>
</form>

{% if data.msg %}
    <strong>{{ data.msg }}</strong>
{% endif %}
<p><em>Note: Only the latest 30 reports are shown.</em></p>
<table style="width:100%">
    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Title</th>
        <th>Variant</th>
        <th>Time Period</th>
        <th>Status</th>
        <th>Finished at</th>
    </tr>
    {% for rep in gen %}
    <tr>
        <td>
            <a class="delete" id="delete_{{ rep.pk }}" 
                href="/reportgen/ondemand/delete/{{ rep.pk }}">&times;</a>
        </td>
        <td>{% if rep.is_finished %}
            <a class="finished" href="/static/reportgen/ondemand/{{ rep.filename }}">{{ rep.fileformat.upper }}</a>
            {% else %}
            <span class="in_progress">{{ rep.fileformat.upper }}</span>
            {% endif %}</td>
        <td>{{ rep.title }}</td>
        <td>{{ rep.variant_title|default:"--" }}</td>
        <td>{{ rep.period_title }}</td>
        <td width="25%">
            {% if rep.is_failed %}
            <a href="#" class="err_link" id="link_{{ rep.pk }}" onclick="return false">{{ rep.task_state_str }}</a>
            {% else %}
            {% if rep.is_running %}
                <div class="progress ui-corner-all">
                    <div style="width: {{ rep.task_progress }}%;" class="progress-value ui-corner-left">
                        ({{ rep.task_progress }}%)
                    </div>
                    <div class="progress-under-text">
                    ({{ rep.task_progress }}%)
                    </div>
                </div>
            {% else %}
            {{ rep.task_state_str }}
            {% endif %}
            {% endif %}
        </td>
        <td>{% if rep.is_finished %}{{ rep.finished_at|date:"d-M-Y" }} at 
            {{ rep.finished_at|date:"H:i" }}{% endif %}</td>
    </tr>
    {% if rep.is_failed %}
    <tr class="error_row" style="border-top:0;margin:0;padding:0">
        <td colspan="6" style="border-top:0;margin:0;padding:0;">
            <pre id="error_{{ rep.pk }}" style="margin:0;display:none;">{{ rep.error_message }}</pre>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<p id="status">
    <strong>Generation status:</strong>
    {% if workers.0 and workers.1 %}
        <span class="ok">Message queue is OK</span>, 
        <span class="ok">
            {{ workers.1 }} worker{{ workers.1|pluralize }} 
                {{ workers.1|pluralize:"is,are" }} running.
        </span>
    {% else %}
        {% if not workers.0 %}
            <span class="failed">RabbitMQ is down.</span>
        {% else %}
            RabbitMQ is up, 
            but workers (celeryd) are down or busy.
        {% endif %}
    {% endif %}
</p>

{% endblock %}
