td.filename {
    text-align: center;
}

table {
    border-collapse: none;
}

div.progress {
    width: 200px;
    border: 1px solid black;
    padding: 0px;
    position: relative;
    z-index:1;
}

div.progress .progress-under-text {
    padding: 2px;
}

div.progress-value {
    background-color: #953D27;
    overflow: hidden;
    position: absolute;
    z-index:2;
    color:white;
    padding: 2px;
}

p#status {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    margin: auto;
}

a.delete {
    font-weight: bold;
    color: #999;
    font-size: 1.2em;
}

a.delete:hover {
    color: red;
    font-weight: bolder;
}

span.in_progress {
    color: #999;
}

span.failed {
    color: red;
}

span.ok {
    color: green;
}

a.finished {
}

tr.error_row {
    border-top:0;
    margin:0;
    padding:0;
}
tr.error_row td {
    border-top:0;
    margin:0;
    padding:0;
}

tr.error_row td pre {
    margin: 0;
    display: none;
    padding: 1em;
    border: 2px solid red;
}
