<style type="text/css">


.diseases {
    font-size:12px;
    border:2px solid black;
    border-collapse: collapse;
}

td.diseases {
    padding:0px;
    width:30px;
    text-align:center;
}

td#first {
    width:{% if table.by_date %}100px{% else %}140px{% endif %};
    text-align:left;
    padding:0px;
    border-bottom:1px solid black;
}

th.disease {
    font-size:8px;
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:1px solid black;
}
td.sub {
    font-size:13px;
    padding:0;
    margin:0;
    text-align:center;
    border-bottom:1px solid black;
}
td.left {
    border-left:2px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    font-family:monospace;
    text-align:right;
    padding:0px 6px 0px 6px !important;
}
td.right {
    text-align:right;
    font-family:monospace;
    border-right:2px solid black;
    border-left:1px solid black;
    border-bottom:1px solid black;
    padding:0px 6px 0px 6px !important;
}
</style>

<h2>Diseases Report{% if scope %}: {{scope}}{% endif %}</h2>

<table width="100%" class="diseases"> 
    <tr>
        <th rowspan="2" style="border-bottom:1px solid black;">
        {% if diseases_table.first_column.sortable %}<a href="?r={{report}}&grp={{grouping}}&sort={{ diseases_table.first_column.name_toggled }}">{% endif %}
        {{diseases_table.first_column}}
        {% if diseases_table.first_column.sortable %}</a>{% endif %}
        </th>
        {% for disease in diseases %}
            <th class="disease" colspan="2">{{disease}}</th>
        {% endfor %}
    </tr><tr>
    {% for column in diseases_table.columns %}
        {% if not forloop.first %}
           <td class="sub {% cycle 'left' 'right' %}">
            {% if column.sortable %}<a href="?r={{ report }}&grp={{grouping}}&sort={{ column.name_toggled }}">{% endif %}
            {{column}}
            {% if column.sortable %}</a>{% endif %}
            </td>
        {% endif %}
    {% endfor %}
    </tr>
        {% for row in diseases_table.rows %}
            <tr>
            {% for value in row %}
                <td {% if forloop.first %}id="first" {% else %}class="{% cycle 'left' 'right'%}"{% endif %}>
                {% if forloop.first %}
                    {% if diseases_table.by_date %}
                        {{ value|date:"d/m/Y" }}
                    {% else %}
                        {% if row.hu_pk %}<a href="/findug/health_unit/{{row.hu_pk}}">{% endif %}
                        {{value}}
                        {% if row.hu_pk %}</a>{% endif %}
                    {% endif %}
                {% else %}
                    {{value|default_if_none:""}}{% if not row.complete %}*{% else %}&nbsp;{% endif %}
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}

</table>


