{% extends "findug/index.html" %}
{% block subtitle %}{{scope}} Health Units{% endblock %}

{% block sub_content %}
<h2>{{ scope }} Health Units{% ifequal filter "missing"%} Missing Report{% endifequal %}{% ifequal filter "current"%} Completed Reports{% endifequal %}</h2>
<table width="100%">
    <thead>
        <tr>
            {% for column in table.columns %}
                <th>
                    {% ifequal column.name "last" %}
                        <div style="text-align:center;"><a href="?sort={{ table.columns.last_sort.name_toggled }}&filter={{filter}}">{{ column }}</a></div>
                    {% else %}
                        <a href="?sort={{ column.name_toggled }}&filter={{filter}}">{{ column }}</a>
                    {% endifequal %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
            <tr>
                <td><a href="../health_unit/{{row.pk}}">{{row.code}}</a></td>
                <td><a href="../health_unit/{{row.pk}}">{{row.name}}</a></td>
                <td>{{row.hctype}}</td>
                <td>{{row.hsd}}</td>
                <td align="center">{{row.reporters}}</td>
                <td align="center">
                {% if row.last_pk %}<a href="../epidemiological_report/{{row.last_pk}}" target="_blank">{% endif %}
                <span style="color:{{row.last_color}};">{{row.last}}</span>{% if row.last_pk %}</a>{% endif %}</td>
             </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

