{% extends "findug/index.html" %}
{% block title %}{{ location }}{% endblock %}


{% block page_stylesheets %}
{{ block.super }}
<style type="text/css">
#details {
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
}
#details td, #details th {
    font-size:14px;
    border:0;
}
#details th {
    font-weight:bold;
}
</style>
{% endblock page_stylesheets %}
{% block content %}
<h2>{{ health_unit }}</h2>

<div class="box" style="width:455px;float:left;"><h3>Details</h3>

        <table id="details">
            <tr><th>Name:</th><td>{{ health_unit.location_ptr }}</td><th>Parish:</th><td>{{ health_unit.parish }}</td></tr>
            <tr><th>Type:</th><td>{{ health_unit.type }}</td><th>Sub County:</th><td>{{ health_unit.subcounty }}</td></tr>
            <tr><th>Latitude:</th><td>{{ health_unit.latitude }}</td><th>County:</th><td>{{ health_unit.county }}</td></tr>
            <tr><th>Longitude:</th><td>{{ health_unit.longitude }}</td><th>District:</th><td>{{ health_unit.district }}</td></tr>
        </table>
</div>

<div class="box" style="width:455px;float:left;"><h3>Reporters</h3>
<table width="100%">
<thead><tr>
        {% for column in reporters_table.columns %}
            <th>
            {{ column }}
            </th>
        {% endfor %}
    <tr></thead>
    <tbody>
        {% for row in reporters_table.rows %}
            <tr>
                {% for value in row %}<td>{{ value }}</td>{% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
