{% extends "findug/index.html" %}
{% block title %}FIND Uganda - {% block subtitle %}Home{% endblock %}{% endblock %}



{% block page_stylesheets %}
<link rel="stylesheet" href="/static/findug/googlemap.css" type="text/css" />
{{ block.super }}
<style type="text/css">
.maplabel {
    padding-left:10px;
    font-size:8pt;
}
</style>
{% endblock page_stylesheets %}
{% block javascripts %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA5Ye18xnHrI7VkvnQMnf_QRQZOuvueR4aqOdhep0L3RFNDBvUMhTQT2vip8swLUduqHqUd47rTzSSPQ" type="text/javascript"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
<script type="text/javascript">

var map, act_stock_layer;   

function init() {
    map = new OpenLayers.Map('map');
    map.addControl(new OpenLayers.Control.LayerSwitcher());
    
    var gphy = new OpenLayers.Layer.Google(
        "Google Physical",
        {type: G_PHYSICAL_MAP}
    );
    var gsat = new OpenLayers.Layer.Google(
        "Google Satellite",
        {type: G_SATELLITE_MAP, numZoomLevels: 20}
    );
    health_units_layer = new OpenLayers.Layer.Markers(
        "Health Units",
        {
            isBaseLayer: false,
            rendererOptions: {yOrdering: true}
        }
    );
    act_stock_layer = new OpenLayers.Layer.Markers(
        "ACT Stock",
        {
            isBaseLayer: false,
            rendererOptions: {yOrdering: true},
            visibility: false
        }
    );
    health_units_layer.events.register('visibilitychanged', this, layerChanged);
    act_stock_layer.events.register('visibilitychanged', this, layerChanged);
    map.addLayers([gphy, gsat, health_units_layer, act_stock_layer]);

    map.setCenter(new OpenLayers.LonLat(31.000654, 0.00935), 10);

    var bounds = new OpenLayers.Bounds();

    var size20 = new OpenLayers.Size(20,20);
    var hcii = new OpenLayers.Icon("/static/findug/hcII.png", size20);
    var hciii = new OpenLayers.Icon("/static/findug/hcIII.png", size20);
    var hciv = new OpenLayers.Icon("/static/findug/hcIV.png", size20);
    var hospital = new OpenLayers.Icon("/static/findug/h.png", size20);
    var hc_shadow = new OpenLayers.Icon("/static/findug/hc_shadow.png", new OpenLayers.Size(23,20), new OpenLayers.Pixel(-8,-10));

    var white_background = new OpenLayers.Icon("/static/findug/white.png", size20);
    var shadow = new OpenLayers.Icon("/static/findug/shadow.png", new OpenLayers.Size(14,8), new OpenLayers.Pixel(1,-1));
    var act_yellow = new OpenLayers.Icon("/static/findug/act_yellow.png", size20);
    var act_blue = new OpenLayers.Icon("/static/findug/act_blue.png", size20);
    var act_brown = new OpenLayers.Icon("/static/findug/act_brown.png", size20);
    var act_green = new OpenLayers.Icon("/static/findug/act_green.png", size20);
    var act_unknown = new OpenLayers.Icon("/static/findug/unknown.png", size20);
    var location;
    {% for location in locations %}{% if location.obj.latitude and location.obj.longitude %}        
        location = new OpenLayers.LonLat({{location.obj.longitude}}, {{location.obj.latitude}});
        bounds.extend(location);
        popup = new OpenLayers.Popup(null,location,new OpenLayers.Size(200,18),'<span id="label{{forloop.counter}}" class="maplabel">{{location.name}}</span>',false);
        //popup.autoSize = true;
        popup.backgroundColor = 'transparent';
        map.addPopup(popup);
        document.getElementById("label{{forloop.counter}}").style.display="block";
        
        health_units_layer.addMarker(new OpenLayers.Marker(location, hc_shadow.clone()));
        health_units_layer.addMarker(new OpenLayers.Marker(location, {{location.type}}.clone()));
        act_stock_layer.addMarker(new OpenLayers.Marker(location, shadow.clone()));

        {% if location.act_unknown %}act_stock_layer.addMarker(new OpenLayers.Marker(location, act_unknown.clone()));
        {% else %}
            act_stock_layer.addMarker(new OpenLayers.Marker(location, white_background.clone()));
            {% if location.yellow %}act_stock_layer.addMarker(new OpenLayers.Marker(location, act_yellow.clone()));{% endif %}
            {% if location.blue %}act_stock_layer.addMarker(new OpenLayers.Marker(location, act_blue.clone()));{% endif %}
            {% if location.brown %}act_stock_layer.addMarker(new OpenLayers.Marker(location, act_brown.clone()));{% endif %}
            {% if location.green %}act_stock_layer.addMarker(new OpenLayers.Marker(location, act_green.clone()));{% endif %}
        {% endif %}
    {% endif %}{% endfor %}
    map.zoomToExtent(bounds,true);
}
function layerChanged(layer) {
    if (layer.object.visibility) {
        switch (layer.object.name) {
            case "Health Units":
                act_stock_layer.setVisibility(false);
                break;
            case "ACT Stock":
                health_units_layer.setVisibility(false);
                break;
        }
    }
}

</script>
{% endblock javascripts %}
{% block content %}
<h2>Map</h2>

<h3>Health Units Map</h3>

<div id="map" style="width: 78em;height: 40em;border: 0;"></div>
<script type="text/javascript">init();</script>

{% endblock %}
