{% extends "findug/index.html" %}
{% block subtitle %}Reports{% endblock %}

{% block sub_content %}
<form method="GET" action="/findug/report/"
<table>
    <tr>
        <th>Report Type:</th>
        <td>
            <select name="r">
                <option value="" selected="selected">----------</option>
                <option value="diseases">Diseases Report</option>
                <option value="cases">Malaria Cases Report</option>
                <option value="treat">Malaria Treatments Report</option>
                <option value="act">ACT Consumption Report</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Beginning Date:</th>
        <td>
            <select name="start">
                <option value="" selected="selected">----------</option>
                {% for period in periods %}
                    <option value="{{period.id}}">{{period.start_date|date:"D d/m/Y"}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>Ending Date:</th>
        <td>
            <select name="end">
                <option value="" selected="selected">----------</option>
                {% for period in periods %}
                    <option value="{{period.id}}">{{period.end_date|date:"D d/m/Y"}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>Group By:</th>
        <td>
            <select name="grp">
                <option value="clinic" selected="selected">Health Unit</option>
                <option value="type">Health Unit Type</option>
                <option value="parish">Parish</option>
                <option value="subcounty">Sub County</option>
                <option value="county">County</option>
                <option value="hsd">Health Sub District</option>
                <option value="district">District</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center"><input type="submit" value="Generate Report"/></td>
    </tr>
</table>

</form>



{% endblock %}
