<div id="scope" style="margin-left:auto;margin-right:auto;margin-top:0px;margin-bottom:5px;width:300px;border:1px solid #337fc9;background:#feffbd;">
<table width="100%"><tr><th style="border:0; text-align:right"><strong>Filter by District:</strong></th>
<td style="border:0;padding:0;">
<form action="" method="POST">
<select name="district" onchange="this.form.submit()">
<option value="-1"{% ifequal scope.district_id "all" %} selected="selected"{% endifequal %}>All Districts</option>
{% for district in scope.districts %}
    <option value="{{district.id}}"{% ifequal scope.district_id district.id %} selected="selected"{% endifequal %}>{{district}}</option>
{% endfor %}
</select>
</form>
</td>
</tr></table>
</div>
