<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>index</title>
	<meta name="author" content="Alex Dorey">
	
	<script type="text/javascript" src="{{ static_path }}javascripts/prototype.js"></script>
	<script type="text/javascript" src="{{ static_path }}javascripts/scriptaculous.js"></script>
	<script type="text/javascript">
	<!--
	var clog = function(){}
	var cerr = function(){}

	if(typeof(console)!=='undefined') {clog = console.log; cerr = console.error; }
//		$(document).observe('dom:loaded', function(){$('warning').hide()})
//	} the warning was no good

	var availableActions = $w('');
	var availableForms = $A();
	
	var RsmsConnection= {
		jsonRoot: '{{ static_path }}json_resp/' 
	};
	var RsmsGlobals = {
		nameDivider: '_',
		jsonRoot: '/ccdataentry/json/',
		lang: 'en',
		formSelector: 'form_select',
		tableWrap: 'table_wrap',
		logoBox: 'form_logo',
		_minFormSheetId: 100,
		newSheetId: function(){return "form-"+RsmsGlobals._minFormSheetId++ }
	}

	-->
	</script>
	<script type="text/javascript" src="{{ static_path }}javascripts/handlers.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ static_path }}stylesheets/pretty-rsms-tables.css" />
	<script type="text/javascript">
<!--
	$(document).observe('dom:loaded', function(){
		$('loadingbox').update('Loading is complete!');
		(function(){
			$('loadingbox').fade({duration: 0.2})
		}).delay(1)
		TVHandler.openWith(RsmsForms.o5consult.newSheet());
	});
-->
	</script>
	<style>
	#warning {
		/*-- disabled --*/
		display: none;

		color: #f00;
		color: #000;
		background-color: #fff;
		border: 2px solid red;
		position: fixed;
		height: 200px;
		width: 500px;
		top: 100px;
		left: 50%;
		margin: 0 0 0 -250px;
		padding: 12px;
	}
	</style>


</head>
<body>
	<div id="wwrap">
		<div id="content">
		</div>
	<div class="widew">
		<div class="iwidew">
			<div id="thead">
				<div id="form_logo">
					<a href="#"><span>Error. The CSS file has not loaded. RsmsForms will not work properly</span></a>
				</div>
				<h2 class="title">Under 5 Form</h2>
				<table id="rt_info">
					<tr>
						<th>Logged in:</th>
					</tr>
					<tr>
						<td>Alex D</td>
					</tr>
				</table>
				<div id="rt_select">
					<select disabled="true" id="form_select">
						<option>Forms</option>
					</select>
				</div>
			</div>
			<div id="loadingbox">
				<span class="loadingimage"></span> RsmsEntry is loading necessary files...
			</div>
			<script>
			<!--
			$('loadingbox').update('RapidSMS Entry is beginning the downloads...'); 
			-->
			</script>
			<script type="text/javascript" src="{{ static_path }}javascripts/1-rsms_form_field_specific_functions.js"></script>
			<script type="text/javascript" src="{{ static_path }}javascripts/2-rsms_table_viewing.js"></script>
			<script type="text/javascript" src="{{ static_path }}javascripts/3-rsms_form_loading.js"></script>
			<script>
			<!--
			$('loadingbox').update('RapidSMS Entry is processing the template files...'); 
			-->
			</script>
		</div>
		<div class="iw">
			<div class="tw" id="table_wrap"></div>
		</div>
		<script type="text/javascript">
		var submitUrl = "/proxy/json_resp";
		function SubmitSms(str) {
			var submitHsh = {
				phone: 12345,
				message: str
			}
			new Ajax.Updater('inner_dummy', "/http/proxy/#{phone}/".interpolate({phone: submitHsh.phone}), {
				method: 'get',
				asynchronous: false,
				parameters: submitHsh.message,
				onComplete: function() {
					$('inner_dummy').setStyle('display:block');
				}
			})
		}
		</script>
		<style type="text/css">
		#dummy_sms {
			position: absolute;
			left: 20px;
			top: 200px;
			z-index: 201;
		}
		#inner_dummy {
			display: none;
		}
		#inner_dummy:before  {
			display: block;
			content: 'Relevant response to message?';
		}
		</style>
		<div id="dummy_sms">
			<a href="javascript:SubmitSms('new diallo fatoro +d 2020 xyz')" title="new diallo fatoro +d 2020 xyz">New Sms</a>
			<div id="inner_dummy">
			</div>
		</div>
	</div>
	</div>
	<div id="json_data" style="display:none">
		<div id="form_column_data">
			{
				"mobileReg" : {
					"title": "Mobile",
					"letters": "mob",
					"qtype" : "letter",
					"subCategories": [
						["cellNumber", {
							"title": "Cell Phone Number",
							"advice": "Type the cell number (Dashes are OK)",
							"qtype": "text"
						}]
					]
				},
				"generalReg" : {
					"title": "Registration Details",
					"spec" : "everyone",
					"colgroup" : "main",
					"letters": "NEW",
					"qtype" : "letter",
					"subCategories": [
						["healthId", {
							"title": "Health ID",
							"qtype": "mvpid"
						}],
						["firstName", {
							"title": "First Name",
							"qtype": "text"
						}],
						["middleName", {
							"title": "Middle Name",
							"qtype": "text"
						}],
						["familyName", {
							"title": "Family Name",
							"qtype": "text"
						}],
						["gender", {
							"title": "Sex",
							"qtype": "selectOne",
							"options": "Male Female"
						}],
						["bDate", {
							"title": "Birthdate",
							"qtype": "fullDate"
						}],
						["age", {
							"title": "Age",
							"qtype": "text"
						}],
						["primaryCgId", {
							"title": "Primary Caregiver ID",
							"qtype": "mvpid"
						}],
						["mothersId", {
							"title": "Mothers MVP ID",
							"qtype": "mvpid"
						}]
					]
				},
				"date": {
					"title": "Date",
					"advice": "The date the data was collected",
					"qtype": "fullDate"
				},
				"healthId": {
					"title": "HEALTH ID",
					"advice": "Patient's 5-6 digit MVP Health ID"
				},
				"anyHh": {
					"title": "Any HH Members Available",
					"advice": "Were other household members present",
					"qtype": "yesNoUnknown"
				},
				"hhvv": {
					"title": "HH Visit",
					"category" : true,
					"letters": "V",
					"qtype" : "letter",
					"subCategories": []
				},
				"registration" : {
					"title": "Registration",
					"category" : true,
					"letters": "reg",
					"qtype" : "letter",
					"subCategories": []
				},
				"fever": {
					"title": "Fever",
					"letters": "f",
					"category" : true,
					"qtype" : "letter",
					"subCategories": [
						["rdt", {
							"title": "Fever RDT",
							"qtype": "splitWords"
						}]
					]
				},
				"shStatus": {
					"title": "Health Status",
					"letters" : "h",
					"qtype" : "letter",
					"subCategories": [
						["chwVisit", {
							"title": "Recent Clinic Visit",
							"advice" : "Did person visit a clinic since last CHW Visit",
							"qtype": "yesNoUnknown"
						}],
						["dangerSigns", {
							"title": "Danger Signs",
							"qtype": "selectMany",
							"options": "S N U W"
						}]
					]
				},
				"pregnantWoman": {
					"title" : "Pregnancy Section",
					"letters": "P",
					"qtype" : "letter",
					"subCategories": [
						["AncVisits", {
							"title": "Number of ANC Visits in Clinic during pregnancy (0-9)",
							"advice": "1-9",
							"qtype": "singleDigit",
							"regex": "/d/"
						}],
						["pregnancyMonth", {
							"title": "Month of Pregnancy",
							"qtype" : "singleDigit",
							"advice":"1-9"
						}],
						["recentFever", {
							"title": "Fever in the last 5 days",
							"qtype" : "yesNoUnknown"
						}]
					]
				},
				"afterDelivery": {
					"title" : "After Delivery",
					"spec": "6 weeks",
					"letter" : "a",
					"qtype" : "letter",
					"subCategories" : [
						["numVisits", {
							"title": "Number of Clinic Visits since delivery",
							"advice": "0-9",
							"regex": "/d/",
							"qtype": "singleDigit"
						}]
					]
				},
				"o5fever": {
					"title": "Fever Section",
					"letter" : "f",
					"qtype" : "letter",
					"subCategories": [
						["RDTresult", {
							"title": "RDT Result",
							"qtype" : "selectOne",
							"options" : "P N U X"
						}]
					]
				},
				"o5medicine" : {
					"title" : "Medicine / Commodities Given",
					"letter" : "g",
					"qtype" : "letter",
					"subCategories" : [
						["given", {
							"title": "Medicine or Commodities Given",
							"qtype": "selectOne",
							"options": "AM AP"
						}]
					]
				},
				"referral" : {
					"title": "Referral to Clinic",
					"letter" : "r",
					"qtype" : "letter",
					"subCategories" : [
						["toClinic", {
							"title" : "Referral to Clinic",
							"qtype": "selectOne",
							"options" : "A B C"
						}]
					]
				},
				"dangerSigns" : {
					"title": "Specify Danger Signs",
					"qtype": "selectMany",
					"options" : "VB VD PU CW"
				}
			}
		</div>
		<div id="form_templates_data">
		{
			"overFive": {
				"title": "OVER 5",
				"date": "310110",
				"optgroup": "Household Visits",
				"fields": "date healthId shStatus pregnantWoman"
			},
			"registration": {
				"title": "Registration - Baseline",
				"date": "310110",
				"optgroup" : "Registration",
				"fields": "date generalReg mobileReg"
			},
			"o5consult" : {
				"title" : "Over 5 Consultation Log",
				"date" : "310110",
				"optgroup": "Household Visits",
				"fields": "date shStatus pregnantWoman afterDelivery fever o5medicine referral dangerSigns"
			}
		}
		</div>
		<script>
		<!--
		$H($('form_column_data').textContent.evalJSON()).map(function(hArr){return new TColumn(hArr)})
		$H($('form_templates_data').textContent.evalJSON()).map(function(hArr){return new RsmsForm(hArr)})
		$('loadingbox').update('RapidSMS Entry is finished processing the template files...'); 
//		$('loadingbox').fade.delay(1); ?
		-->
		</script>
	</div>

</body>
</html>
