{% extends "layout-split-2.html" %}
{% block title %}List Children{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/reporters/javascripts/clear-form-elements.js"></script>
<script type="text/javascript" src="/static/reporters/javascripts/cloneable.js"></script>
{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	<li class="page"><a href="/childcount/rapports">Rapports</a></li>
	<li class="page"><a href="/childcount/saisie">Saisie Enfant</a></li>
	<li class="page"><a href="/childcount/listeEnfant">Liste Enfants</a></li>
	
</ul>
{% endblock %}

{% block left %}
<div class="module">

 	<form method="post" id="fm-rep-add" action="/childcount/listeEnfant">
			Location : <select name="location">
					
					<option value="-1">All Locations</option>
					{% for location in all_locations %}
					<option value="{{ location.id }}"{% ifequal location lalocation %} 		selected="selected"{% endifequal %}>{{ location.name }}
					</option>
					{% endfor %}
				</select> <br/> <br/>

			Reporter : <select name="reporter">
					<option value="-1">All Reporters</option>
					{% for reporter in all_reporters %}
					<option value="{{ reporter.id }}"{% ifequal reporter lereporter %} 		selected="selected"{% endifequal %}>{{ reporter.first_name }} {{ reporter.last_name }}
					</option>
					{% endfor %}
				</select>     <input type="submit" value="Filter" /><br/><br/>		
	</form>

	<h2>List Children</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Sexe</th>
				<th scope="col">Dob</th>
				<th scope="col">Location</th>
	
			</tr>
		</thead>
		<tbody>{% if xaleyi %}{% for xaley in xaleyi %}
			<tr>
				
				<td><a href="/childcount/affiche_enfants/{{ xaley.id }}">{{ xaley.first_name }}</a></td>
				<td>{{ xaley.last_name }}</td>
				<td>{{ xaley.gender }}</td>
				<td>{{ xaley.dob }}</td>
				<td>{{ xaley.location.name }}</td>


			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					No child Yet.

				</td>
			</tr>{% endif %}
		</tbody>

	</table>

</div>
{% endblock %}

{% block right %}
<div class="module">
 
</div>


{% endblock %}
