{% extends base_template %}
{% block title %}{{ app.name }}Saisie des enfants {% endblock %}
{% block page_tabs %}
<ul id="page-tabs">
	<li class="page"><a href="/childcount/rapports">Rapports</a></li>
	<li class="page"><a href="/childcount/saisie">Saisie Enfant</a></li>
	<li class="page"><a href="/childcount/listeEnfant">Liste Enfants</a></li>
</ul>
{% endblock %}

{% block content %}

<TABLE BORDER="1">
  <CAPTION><h2> Saisie de nouveaux enfants </h2></CAPTION>
  <TR>
 <TH> <h2>Formulaire </h2></TH>
 <TH> <h2>Liste des dix derniers enfants saisis </h2></TH>
  </TR>
  <TR>
  <TD>
 	<form action="/childcount/saisie" method="POST">
	{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form> 
   </TD>
	
 <TD VALIGN ="TOP">  
<TABLE BORDER="1">
	
<TH> Nom </TH><TH> Prenom </TH><TH> Sexe </TH><TH> Date Naissance </TH><TH> Nom de la mere </TH>
 	{% for c in last_ten %}
	<TR><TD>{{ c.first_name }}</TD> <TD>{{ c.last_name }}</TD><TD>{{ c.gender }}</TD><TD>{{ c.short_dob }}</TD><TD>{{ c.guardian }}</TD>
</TR>
	{% endfor %}
</TABLE>
 </TD>

  </TR>
</TABLE> 

{% endblock %}
