<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="/static/childcount/stylesheets/cc_ui.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="/static/childcount/scripts/jquery-1.4.2.min.js"></script>

{% block javascripts %}{% endblock %}
{% block page_stylesheets %}{% endblock %}
</head>
<body>
	<div id="header">
		<div class='fwidth'>
			<a href="{% url cc-dashboard %}" id="logo">
				<span>ChildCount+</span>
			</a>
			<div class="account_links">
                {% if user.is_authenticated %}
                <p><a href="/accounts/logout/">{% trans "Log out" %} {{ user.username }}</a></p>
                {% else %}
                    <p><a href="/accounts/login/">{% trans "Log in" %}</a></p>
                {% endif %}
			</div>
		</div>
	</div>
	<ul id="menu">
		<div class='fwidth'>
		<li><a href="{% url cc-dashboard %}">Dashboard</a></li>
		<li><a href="{% url cc-list_chw %}">CHWs</a></li>
		<li><a href="{% url cc-patients %}">Patients</a></li>
		<li><a href="{% url loggerng-index %}">Message Log</a></li>
		<li><a href="{% url cc-dataentry %}">Data Entry</a></li>
		</div>
	</ul>
	<div id="body">
		<div class='fwidth'>
		{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer" style="clear:both;">
		<div class='fwidth'>

			<div style="text-align: right;color:#953D27;font-size:14px">
			{% block footer %}
			<a href="http://www.childcount.org/" style="">&copy; 2009&ndash;2010 <span class="bigger">ChildCount.org</span></a> | Built with <a href="http://www.rapidsms.org/" class="bigger">RapidSMS</a> | Deployed in the <a href="http://www.millenniumvillages.org/" class="bigger">Millennium Villages</a>
			
			{% endblock %}
			</div>

		</div>
	</div>
</body>
</html>
