{% extends base_template %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block page_stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/childcount/stylesheets/basic.css"/>
<link type="text/css" rel="stylesheet" href="/static/childcount/stylesheets/cc_ui_tables.css"/>

<link type="text/css" rel="stylesheet" href="/static/childcount/stylesheets/dashboard-sections.css"/>
{% endblock page_stylesheets %}

{% block javascripts %}
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.core.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.widget.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.accordion.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.raphael.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.pie.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.line.js"></script>

<script type="text/javascript" charset="utf-8">
	/*- makes cclist tables look prettier --*/
	$(function(){$('table.cclist').addClass('on')})
</script>

{% endblock javascripts %}

{% block page_tabs %}
{% endblock %}

{% block content %}

{% for section_template_name in section_templates %}
	{% include section_template_name %}
{% endfor %}

{% endblock %}
