{% extends base_template %}

{% block stylesheets %}
{{ block.super }}

<link type="text/css" rel="stylesheet" href="/static/childcount/stylesheets/jquery.autocomplete.css"/>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.core.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.autocomplete.js"></script>
{% endblock %}

{% block title %}
    {% trans "Edit Patient{% if patient %}: {{ patient.full_name }} [{{ patient.health_id.upper }}]" %}
    {% endif %}
{% endblock %}

{% block content %}

<h1>{% trans "Edit Patient{% if patient %}: {{ patient.full_name }} [{{ patient.health_id.upper }}]" %}
    {% endif %}
</h1>

{% if form %}
<a href="/childcount/patients/edit/">&larr: {% trans"Edit Another Patient (Make sure to save before clicking here)"%}</a>
{% else %}

{% trans "Enter a health ID to edit a patient." %}

{% endif %}

{% if failed %}
<div class='module'>
<label class='error'>
{% trans "A patient with health ID" %}
 {% trans "{{ health_id }} was not found." %}
</label>
</div>
{% endif %}

{% if success %}
<div style='color:green;font-size:larger;font-weight:bold;'>
    {% trans "Patient information for" %} 
    {% trans "{{ patient.full_name }} saved." %}
    <a href="/childcount/patients/edit/{{ patient.health_id.upper }}/">{% trans "Edit {{ patient.full_name}} again." %}</a>
</div>
{% endif %}

{% if form %}
<form action="/childcount/patients/edit/{{ health_id }}/" method="POST">
<table>
{{ form }}
</table>
<input type="submit" value="Save">
</form>
{% else %}
<form id='editform' action='/childcount/patients/edit/' method='GET'>
    Health ID: <input name='hid' type='text'></input>
    <input type="submit" value="Edit"></input>
</form>
{% endif %}

{% endblock %}
