{% extends base_template %}
{% block page_stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/childcount/stylesheets/basic.css"/>
{% endblock page_stylesheets %}


{% block javascripts %}
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.core.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.widget.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.accordion.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.raphael.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.pie.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.line.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#accordion").accordion();
	});

    RegistrationsLineChart = function() {
        var x = [
            {% for day in registrations.0 %}
            {{day}}{% if not forloop.last %},{% endif %}
            {% endfor %}];
        var y1 = [
            {% for count in registrations.1 %}
            {{count}}{% if not forloop.last %},{% endif %}
            {% endfor %}];

        var r = Raphael('deline', width=450, height=300);
        r.g.txtattr.font = "12px 'Helvetica', sans-serif";
        var lchart = r.g.linechart(
            0, 0, 
            380, 250,
            x,
            [y1],
            {shade: true, axis: '0 1 1 0'});
        var xlabel = r.text(200, 270, "Number of days ago");
        xlabel.attr('font-size',12);
        var ylabel = r.text(10, 120, "Total number of patients");
        ylabel.rotate(90);
        ylabel.attr('font-size',12);

    };
    var k;
	$(document).ready(function(){
	    //Get Site summary
	    $('#tblsite_summary td').addClass('loading')
	    $.getJSON('/childcount/site_summary/site/json', function(data){
	        $('#tblsite_summary td.num_patients').html(data.summary.num_patients);
	        $('#tblsite_summary td.num_households').html(data.summary.num_households);
	        $('#tblsite_summary td.num_underfive').html(data.summary.num_underfive);
	        $('#tblsite_summary td.num_pregnant').html(data.summary.num_pregnant);
	        $('#tblsite_summary td').removeClass('loading')
	    });

	    //Load summary data for ['week', 'month', 'general']
	    reports = ['week', 'month', 'general_summary']
	    for (i in reports){
	        (function(){
                var report = reports[i]
                $('ul.' + report + '_report li span').addClass('loading')
                url = '/childcount/site_summary/' + report + '/json'
                $.getJSON(url,function(data){
                    k = data
                    $('ul.' + report + '_report li span.num_pregnant')
                        .html(eval('data.' + report + '_report.num_pregnant'))
                    $('ul.' + report + '_report li span.num_rdt')
                        .html(eval('data.' + report + '_report.num_rdt'))
                    $('ul.' + report + '_report li span.num_mam_sam')
                        .html(eval('data.' + report + '_report.num_mam_sam'));
                    $('ul.' + report + '_report li span').removeClass('loading');
                });
            })();
	    }

	    //RegistrationsLineChart
	    RegistrationsLineChart();
	    //Nutrition Pie Chart
	    NutritionPieChart();
	});
	
     // Run the script on DOM ready:
     NutritionPieChart = function (){
                var mr = Raphael("muacpie", width=400, height=250);

                mr.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
                
                var pie = mr.g.piechart(280, 120, 100, {{risk|safe}}, legendpos: "west"});
                pie.hover(function () {
                    this.sector.stop();
                    this.sector.scale(1.1, 1.1, this.cx, this.cy);
                    if (this.label) {
                        this.label[0].stop();
                        this.label[0].scale(1.5);
                        this.label[1].attr({"font-weight": 800});
                    }
                }, function () {
                    this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
                    if (this.label) {
                        this.label[0].animate({scale: 0.5}, 500, "bounce");
                        this.label[1].attr({"font-weight": 400});
                    }
                }); 
    };

</script>
{% endblock javascripts %}

{% block page_tabs %}

{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


<table width="100%" class='summary' id="tblsite_summary">
    <tr>
        <th>No. Of Households</th>
        <th>No. Of Patients</th>
        <th>No. Of Underfives</th>
        <th>No. Of Pregnant Women</th>
    </tr>
    <tr>
        <td class="num_households">&nbsp;</td>
        <td class="num_patients">&nbsp;</td>
        <td class="num_underfive">&nbsp;</td>
        <td class="num_pregnant">&nbsp;</td>
    </tr>
</table>
<div id='ch-bd'><div id='ch-l'>
    <p>General Options:
            <a href='{% url cc-list_chw %}' class='html'>View List</a>
            | <a href='{% url cc-dataentry %}' class='html'>CC+ Data Entry</a>
            | <a href='{% url cc-edit_patient %}' class='html'>Edit Patient (<span style='color:red;'>New!</span>)</a>
    </p>
<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>ChildCount Reports</h2>
        </div>

        <div class="bd">
        <em>Note: Reports are generated every evening
        so new registrations and form data will not
        appear in reports until the following day.</em>
        <table>
            <tr>
                <th>Report Name</th>
                <th>HTML</th>
                <th>PDF</th>
                <th>Excel</th>
            </tr>
            {% for r in reports %}
            <tr>
                <td>{{ r.title }}</td>
                <td class="icon">
                    {% for t in r.types %}
                        {% ifequal t 'html' %}
                    <a href="{{ r.url }}.html"><img src="/static/childcount/icons/html.png" /></a>
                        {% endifequal %}
                    {% endfor %}
                </td>
                <td class="icon">
                    {% for t in r.types %}
                        {% ifequal t 'pdf' %}
                            {% if r.otherlinks %}
                                {% for l in r.otherlinks %}
                    <a href="{{ l.url }}" title="{{ l.title }}"><img src="/static/childcount/icons/pdf.png" /></a> 
                                {% endfor %}
                            {% else %}
                    <a href="{{ r.url }}.pdf"><img src="/static/childcount/icons/pdf.png" /></a>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                </td>
                <td class="icon">
                    {% for t in r.types %}
                        {% ifequal t 'xls' %}
                    <a href="{{ r.url }}.xls"><img src="/static/childcount/icons/xls.png" /></a>
                        {% endifequal %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>

            <!--
            <ul>

                <li>Operational Report <a href='/childcount/operationalreport/pdf' class='pdf'>pdf</a>
                </li>
                <li>Patient Register
                    <ul>
                    {% for clinic in clinics %}
                        <li><a href='/childcount/registerlist/{{ clinic.id }}' title='All Patients'>All</a> |  
                            <a href='/childcount/registerlist/{{ clinic.id }}/active' title='Patients with status active only'>Active</a> : 
                            {{ clinic }}
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                <li>Patient List <a href='/childcount/patients' class='html'>html</a>
                </li>
                <li>Under five Patient List <a href='/childcount/patients/underfive/html' class='html'>html</a>
                    | <a href='/childcount/patients/underfive/pdf' class='pdf'>pdf</a>
                </li>
                <li>Patient list per community health worker <a href='/childcount/patients_per_chw/pdf' class='pdf'>pdf</a>
                </li>
                <li>Under five list per community health worker <a href='/childcount/under_five' class='pdf'>pdf</a>
                </li>
            </ul>
            -->
        </div>

    </div>

    <div class="ft">
        <div class="first"></div>
        <div class="last"></div>
    </div>
</div>
</div>
<div id='ch-r'>
<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>Form A Registrations</h2>
        </div>
        <div class="bd" >
            <div id='deline'>
        </div>
    <div id='visualizeline'>
    </div>
</div>

    <div class="ft">
        <div class="first"></div>
        <div class="last"></div>
    </div>

<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>&nbsp</h2>
        </div>
        <div class="bd">
    
    <div id="accordion">
    
    <h2>This Week </h2>
    <ul class="system_messages week_report">
    <li><span class="num_mam_sam">{{week_report.num_mam_sam}}</span> +SAM / MAM</li>
    <li><span class="num_rdt">{{week_report.num_rdt}}</span> MALARIA</li>
    <li><span class="num_pregnant">{{week_report.num_pregnant}}</span> PREGNANCY</li>
    
    
    </ul>
    
     <h2>This Month </h2>      
     <ul class="system_messages month_report">
     <li ><span class="num_mam_sam">{{month_report.num_mam_sam}}</span> +SAM / MAM</li>
     <li ><span class="num_rdt">{{month_report.num_rdt}}</span> MALARIA</li>
     <li ><span class="num_pregnant">{{month_report.num_pregnant}}</span> PREGNANCY</li>
     </ul>
     
     <h2>General </h2>
     <ul class="system_messages general_summary_report">
     <li ><span class="num_mam_sam">{{general_summary_report.num_mam_sam}}</span> +SAM / MAM</li>
     <li ><span class="num_rdt">{{general_summary_report.num_rdt}}</span> MALARIA</li>
     <li ><span class="num_pregnant">{{general_summary_report.num_pregnant}}</span> PREGNANCY</li>
     </ul>
   </div>
    </div>

    </div>

</div>


<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>Nutrition Graph</h2>
        </div>
        <div class="bd" >
            <div id='muacpie'>
        </div>
    <div id='visualize'>
    </div>
</div>

    <div class="ft">
<div class="first"></div>
    </div>
</div>
</div>
</div>

<div style="clear:both;"></div>
<div>
</div>
{% endblock %}
