{% extends base_template %}
{% block page_stylesheets %}
{{ block.super }}

<link type="text/css" rel="stylesheet" href="/static/childcount/visualize.jQuery.css"/>

{% endblock page_stylesheets %}

{% block javascripts %}
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/enhance.js"></script>	
	<script type="text/javascript" charset="utf-8">
		// Run capabilities test
		enhance({
			loadScripts: [
				'/static/childcount/scripts/excanvas.js',
				'/static/childcount/scripts/jquery-1.3.2.min.js',
				'/static/childcount/scripts/visualize.jQuery.js',
				'/static/childcount/scripts/example.js'
			],
			loadStyles: [
				'/static/childcount/stylesheets/visualize.css',
				'/static/childcount/stylesheets/visualize-light.css'
			]	
		}); 

// Run the script on DOM ready:
	
    </script>
{% endblock javascripts %}

{% block page_tabs %}

{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<style type="text/css">
.dashboard p.data{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.dashboard h2{
    font-size: 20px;
} 

#ch-l {
float:left;

}
#ch-r {
float:right;
position:relative;
}
</style>
<div id='ch-bd'><div id='ch-l'>
<h2>Child count Reports</h2>
<table  cellpadding="0" cellspacing="0" border="0" id="report" class="display"> 
    <tr>
        <td>General Operations</td>
        <td><a href='{% url add_chw %}' class='html'>Create CHW Account</a>
            | <a href='{% url list_chw %}' class='html'>View List</a>
        </td>
    </tr>
    <tr>
        <th>Report Name</th><th>&nbsp;</th>
    </tr>
    <tr>
        <td>Operational Report</td>
        <td><a href='/childcount/operationalreport/pdf' class='pdf'>pdf</a>
        </td>
    </tr>
    <tr>
        <td>Pateint Register</td>
        <td>
            <ul>
            {% for clinic in clinics %}
                <li><a href='/childcount/registerlist/{{ clinic.id }}'>{{ clinic }}</a></li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>Patient List</td>
        <td><a href='/childcount/patients' class='html'>html</a> 
        </td>
    </tr>
    <tr>
        <td>Under five Patient List</td>
        <td><a href='/childcount/patients/underfive/html' class='html'>html</a> 
            | <a href='/childcount/patients/underfive/pdf' class='pdf'>pdf</a>
        </td>
    </tr>
    <tr>
        <td>Patient list per community health worker</td>
        <td><a href='/childcount/patients_per_chw/pdf' class='pdf'>pdf</a>
        </td>
    </tr>
    <tr>
        <td>Under five list per community health worker</td>
        <td><a href='/childcount/under_five' class='pdf'>pdf</a>
        </td>
    </tr>

</table>
</div>
<div id='ch-r'>
<h2>Child count Reports</h2>

</div>
</div>

<div style="clear:both;"></div>
<div>
<br/>
<h2>ChildCount Clinic Report</h2>
<table id="clinicpie"> 
<caption>{{report_title}}{% if scope %}: {{scope}}{% endif %}</caption>
    <thead>
    <tr>
     {% for column in columns %}
            {% if forloop.first %}
            	<td></td>
            {% else %}
                <th scope="col">{{column.name}}</th>
            {% endif %}
    {% endfor %}
    </tr>
   
   
    
    </thead>
    <tbody>
	
        {% for row in rows %}
				
            <tr>
            {% for cell in row.cells %}
		{% if forloop.first %}
		<th scope="row">{{cell.value|default_if_none:""}}</th> 
                 {% else %}   <td>{{cell.value|default_if_none:""}}</td>
		{% endif %}
            {% endfor %}
             	
            </tr>
        {% endfor %}
    </tbody>

</table></div>
{% endblock %}

