{% extends base_template %}
{% block page_stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/childcount/stylesheets/basic.css"/>
{% endblock page_stylesheets %}


{% block javascripts %}
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.core.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.widget.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/jquery.ui.accordion.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.raphael.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.pie.js"></script>
<script type="text/javascript" language="javascript" src="/static/childcount/scripts/g.line.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#accordion").accordion();
	});

    window.onload = function() {
        var x = [
            {% for day in registrations.0 %}
            {{day}}{% if not forloop.last %},{% endif %}
            {% endfor %}];
        var y1 = [
            {% for count in registrations.1 %}
            {{count}}{% if not forloop.last %},{% endif %}
            {% endfor %}];

        var r = Raphael('deline', width=450, height=300);
        r.g.txtattr.font = "12px 'Helvetica', sans-serif";
        //r.g.text(100, 10, "Form A Registrations");
        var lchart = r.g.linechart(
            0, 0, 
            380, 250,
            x,
            [y1],
            {shade: true, axis: '0 1 1 0'});

    };
    /*
     // Run the script on DOM ready:
     window.onload = function () {
                var r = Raphael("muacpie", width=400, height=250);

                r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
                
                var pie = r.g.piechart(280, 120, 100, {{risk|safe}}, legendpos: "west"});
                pie.hover(function () {
                    this.sector.stop();
                    this.sector.scale(1.1, 1.1, this.cx, this.cy);
                    if (this.label) {
                        this.label[0].stop();
                        this.label[0].scale(1.5);
                        this.label[1].attr({"font-weight": 800});
                    }
                }, function () {
                    this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
                    if (this.label) {
                        this.label[0].animate({scale: 0.5}, 500, "bounce");
                        this.label[1].attr({"font-weight": 400});
                    }
                });


  };
*/
</script>
{% endblock javascripts %}

{% block page_tabs %}

{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


<table width="100%" class='summary'>
    <tr>
        <th>No. Of Households</th>
        <th>No. Of Patients</th>
        <th>No. Of Underfives</th>
        <th>No. Of Pregnant Women</th>
    </tr>
    <tr>
        <td>{{summary.num_households}}</td>
        <td>{{summary.num_patients}}</td>
        <td>{{summary.num_underfive}}</td>
        <td>{{summary.num_pregnant}}</td>
    </tr>
</table>
<div id='ch-bd'><div id='ch-l'>
    <p>General Options:
    <a href='{% url add_chw %}' class='html'>Create CHW Account</a>
            | <a href='{% url list_chw %}' class='html'>View List</a>
            | <a href='{% url dataentry %}' class='html'>CC+ Data Entry</a>
    </p>
<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>ChildCount Reports</h2>
        </div>

        <div class="bd">
        <table>
            <tr>
                <th>Report Name</th>
                <th>HTML</th>
                <th>PDF</th>
                <th>Excel</th>
            </tr>
            {% for r in reports %}
            <tr>
                <td>{{ r.title }}</td>
                <td class="icon">
                    <a href="{{ r.url }}/html"><img src="/static/childcount/icons/html.png" /></a></td>
                <td class="icon">
                    <a href="{{ r.url }}/pdf"><img src="/static/childcount/icons/pdf.png" /></a></td>
                <td class="icon">
                    <a href="{{ r.url }}/xls"><img src="/static/childcount/icons/xls.png" /></a></td>
            </tr>
            {% endfor %}
        </table>

            <!--
            <ul>

                <li>Operational Report <a href='/childcount/operationalreport/pdf' class='pdf'>pdf</a>
                </li>
                <li>Patient Register
                    <ul>
                    {% for clinic in clinics %}
                        <li><a href='/childcount/registerlist/{{ clinic.id }}'>{{ clinic }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li>Patient List <a href='/childcount/patients' class='html'>html</a>
                </li>
                <li>Under five Patient List <a href='/childcount/patients/underfive/html' class='html'>html</a>
                    | <a href='/childcount/patients/underfive/pdf' class='pdf'>pdf</a>
                </li>
                <li>Patient list per community health worker <a href='/childcount/patients_per_chw/pdf' class='pdf'>pdf</a>
                </li>
                <li>Under five list per community health worker <a href='/childcount/under_five' class='pdf'>pdf</a>
                </li>
            </ul>
            -->
        </div>

    </div>

    <div class="ft">
        <div class="first"></div>
        <div class="last"></div>
    </div>
</div>
</div>
<div id='ch-r'>
<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>Form A Registrations</h2>
        </div>
        <div class="bd" >
            <div id='deline'>
        </div>
    <div id='visualizeline'>
    </div>
</div>

    <div class="ft">
        <div class="first"></div>
        <div class="last"></div>
    </div>

<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>&nbsp</h2>
        </div>
        <div class="bd">
    
    <div id="accordion">
    
    <h2>This Week </h2>
    <ul class="system_messages">
    <li><span>{{week_report.num_mam_sam}}</span> +SAM / MAM</li>
    <li><span>{{week_report.num_rdt}}</span> MALARIA</li>
    <li><span>{{week_report.num_pregnant}}</span> PREGNANCY</li>
    
    
    </ul>
    
     <h2>This Month </h2>      
     <ul class="system_messages">
     <li ><span>{{month_report.num_mam_sam}}</span> +SAM / MAM</li>
     <li ><span>{{month_report.num_rdt}}</span> MALARIA</li>
     <li ><span>{{month_report.num_pregnant}}</span> PREGNANCY</li>
     </ul>
     
     <h2>General </h2>
     <ul class="system_messages">
     <li ><span>{{general_summary_report.num_mam_sam}}</span> +SAM / MAM</li>
     <li ><span>{{general_summary_report.num_rdt}}</span> MALARIA</li>
     <li ><span>{{general_summary_report.num_pregnant}}</span> PREGNANCY</li>
     </ul>
   </div>
    </div>

    </div>

</div>

<!--
<div class='block'>
    <div class="block_child">
        <div class="hd">
            <h2>Nutrition Graph</h2>
        </div>
        <div class="bd" >
            <div id='muacpie'>
        </div>
    <div id='visualize'>
    </div>
</div>
-->

    <div class="ft">
<div class="first"></div>
    </div>
</div>
</div>
</div>

<div style="clear:both;"></div>
<div>
</div>
{% endblock %}
