{% extends base_template %}
{% load i18n %}

{% block javascripts %}
<link rel="stylesheet" type="text/css" href="/static/childcount/stylesheets/cc_ui_tables.css" media="all" />
{% endblock %}

{% block title %}{% trans "CHW List" %}{% endblock %}

{% block content %}
<div class="list-header" style="height:40px">
<h2>{% trans "All Community Health Workers" %}</h2>
</div>
<table class="cclist on">
<thead>
<tr>
<th>{% trans "Username" %}</th><th>{% trans "First Name" %}</th><th>{% trans "Last Name" %}</th>
<th>{% trans "Location" %}</th><th>{% trans "Active?" %}</th>
</tr>
</thead>
<tbody>
{% for chw in paginator.object_list %}
<tr>
    <td>{{ chw.username }}</td>
    <td>{{ chw.first_name }}</td>
    <td>{{ chw.last_name }}</td>
    <td>{{ chw.location }}</td>
    <td class="center">{% if chw.is_active %}{% trans "Y" %}{% else %}{% trans "N" %}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<table class="pagnav">
<tr>
<td>
  {% if paginator.has_previous %}
  <a href="?page={{ paginator.previous_page_number }}">{% trans "Previous" %}</a>
  {% endif %}
</td>
<td>{% block trans %}Page {{paginator.number }} of {{paginator.paginator.num_pages }}{% endblock %}</td>
<td>
  {% if paginator.has_next %}
  <a href="?page={{ paginator.next_page_number }}">{% trans "Next" %}</a>
  {% endif %}
</td>
</table>


{% endblock %}
