{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "CHW List" %}{% endblock %}

{% block content %}

<p><a href="{% url cc-add_chw %}">Create CHW Account</a></p>
<h1>{% trans "All Community Health Workers" %}</h1>
<table>
<thead>
<tr>
<td>{% trans "ID" %}</td>
<td>{% trans "Username" %}</td><td>{% trans "First Name" %}</td><td>{% trans "Last Name" %}</td>
<td>{% trans "Language" %}</td><td>{% trans "Location" %}</td><td>{% trans "Clinic" %}</td><td>{% trans "Active?" %}</td>
</tr>
</thead>
<tbody>
{% for chw in chews %}
<tr>
    <td>{{ chw.pk }}</td>
    <td>{{ chw.username }}</td>
    <td>{{ chw.first_name }}</td>
    <td>{{ chw.last_name }}</td>
    <td>{{ chw.language }}</td>
    <td>{{ chw.location }}</td>
    <td>{{ chw.clinic }}</td>
    <td>{% if chw.is_active %}yes{% else %}no{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
