{% extends base_template %}
{% block javascripts %}

{% endblock javascripts %}

{% block page_stylesheets %}
{{ block.super }}
<style typ=text/css>
    table.display tr.odd.inc{
        background-color: #FFDDDD;
    }
     table.display tr.even.inc{
        background-color: #FFEEEE;
    }
    table.display tr.odd.inc td.sorting_1{
        background-color: #FFC4C4;
    }
    table.display tr.even.inc td.sorting_1{
        background-color: #FFD5D5;
    }
    tr.row_selected{
        background-color: #D5FFD5;
    }
#ch-bd {
border:1px solid brown;
}
#ch-l {
float:left;
width:80%;
}
#ch-r {
width:18%;
float:right;
position:relative;
border:1px solid brown;
}
    #content img{
        border: 0 solid white;
    }
</style>
{% endblock page_stylesheets %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{report_title}}{% if scope %}: {{scope}}{% endif %}</h2>
<div id='ch-bd'><div id='ch-l'>
{% load adminmedia %}
{% load i18n %}
{% if cl.search_fields %}
<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
<input type="submit" value="{% trans 'Search' %}" />
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count cl.result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
{% endfor %}
</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
<table  cellpadding="0" cellspacing="0" border="0" id="report" class="display">
    <thead>
    <tr>
    {% for column in columns %}
            {% if sub_columns %}
                {% if column.colspan %}
                    <th colspan="{{column.colspan}}" class="spanned"{% ifequal columns|length 15%} style="font-size:8px"{% endifequal %}>{{column.name}}</th>
                {% else %}
                    <th rowspan="2">{{column.name}}</th>
                {% endif %}
            {% else %}
                <th>{{column.name}}</th>
            {% endif %}
    {% endfor %}
    </tr>
    {% if sub_columns %}
    <tr>
        {% for column in sub_columns %}
            <th>{{column.name}}</th>
        {% endfor %}
    </tr>
    {% endif %}

    </thead>
    <tbody>
        {% for row in rows %}
            <tr{% if not row.complete %} class="inc"{%endif%}>
            {% for cell in row.cells %}
                    <td{% if cell.num %} class="num"{% endif %}{% if forloop.first %} style="white-space:nowrap;"{% endif %}>{% if cell.link %}<a href="{{cell.link}}">{% endif %}{{cell.value|default_if_none:""}}{% if cell.link %}</a>{% endif %}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>

</table>
<div class="pagination">
       <span class="step-links">
       {% if reports.has_previous %}<a href="?page={{ reports.previous_page_number }}" class="util-link">previous</a>{% endif %}
       {% if reports.has_next %}<a href="?page={{ reports.next_page_number }}" class="util-link">next</a>{% endif %}
       </span>
       <span class="current">
           {{reports.number}}
       </span>
   </div>
</div>
<div id='ch-r'>
</div>
</div>
<div style="clear:both;"></div>
{% endblock %}
