{% extends base_template %}
{% load i18n %}

{% block javascripts %}
<link rel="stylesheet" type="text/css" href="/static/childcount/stylesheets/cc_ui_tables.css" media="all" />
{% endblock javascripts %}

{% block page_stylesheets %}
{{ block.super }}
{% endblock page_stylesheets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="list-header">
<h2 class="ptitle">{% trans "Patient List" %}{% if search %}: <em>{{ search }}</em>{% endif %}</h2>
<div class="searchbox">
	<form action="/childcount/patients" method="get">
	<input type="text" id="patient_search" name="patient_search">
	</form>
</div>
<a href="#" class="send">{% trans "Search" %}</a>
</div>
<script type="text/javascript">
$('div.list-header a.send').click(function(evt){
	var button = $(evt.target);
	button.blur();
	evt.preventDefault();
	button.parent().find('form').submit();
})
</script>



<table style="width:100%" class="patient-list cclist">
<thead>
<tr>
<th>{% trans "ID" %}</th>
<th>{% trans "Patient Name" %}</th>
<th></th>
<th>{% trans "DOB" %}</th>
<th>{% trans "Location" %}</th>
<th>{% trans "CHW" %}</th>
</thead>
<tbody>
{% for patient in patients.object_list %}
<tr>
<td class="health-id">{{patient.health_id}}</td>
<td><a href="/childcount/patients/edit/{{patient.health_id}}">{{patient.last_name}}, {{patient.first_name}}</a></td>
<td>{{patient.humanised_age}}</td>
<td>{{patient.dob}}</td>
<td>{{patient.location.name}}</td>
<td>{{patient.chw}}</td>
</tr>
{% endfor %}
<tr colspan='6'><p class='it info'>{% blocktrans %}{{rcount}} results found.{% endblocktrans %} <!-- Displaying results {{rstart}}-{{rend}}. --></p></tr>
</tbody>
<script type="text/javascript">
<!--
$('table.patient-list').addClass('on');
$('table.patient-list tbody').delegate('a', 'click', function(evt){evt.stopImmediatePropagation()})
$('table.patient-list tbody tr').click(function(evt){
    window.location.href=$(this).find('a').attr('href');
})
-->
</script>
</table>

{% if is_paginated %}
<hr>
<div class="paginator" id ='paginator'>
  {% ifnotequal  page 1 %}
<span class="next"><a href="/childcount/patients?page=1" title="{% trans "First Page" %}">{% trans "First" %}</a></span>
 {%endifnotequal%}
 
{% if has_previous %}<span class="prev"><a href="/childcount/patients?page={{previous}}" title="{% trans "Previous Page" %}">&laquo; {% trans "Previous" %}</a></span>{% else %}<span class="prev-na">&laquo; {% trans "Previous" %}</span>{% endif %}
 
{% if not in_leading_range %}
    {% for num in pages_outside_trailing_range %}
        <span class="page"><a href="/childcount/patients?page={{ num }}" >{{ num }}</a></span>
    {% endfor %}
    ...
{% endif %}
 
{% for num in page_numbers %}
  {% ifequal num page %}
    <span class="curr" title="Current Page">{{ num }}</span>
  {% else %}
    <span class="page"><a href="/childcount/patients?page={{ num }}" title="{% blocktrans %}Page {{ num }}{% endblocktrans %}">{{ num }}</a></span>
  {% endifequal %}
{% endfor %}
 
{% if not in_trailing_range %}
    ...
    {% for num in pages_outside_leading_range reversed %}
        <span class="page"><a href="/childcount/patients?page={{ num }}" >{{ num }}</a></span>
    {% endfor %}

{% endif %}
 
{% if has_next %}<span class="next"><a href="/childcount/patients?page={{ next }}" title="{% trans "Next Page" %}">{% trans "Next" %} &raquo;</a></span>{% else %}<span class="next-na">{% trans "Next" %} &raquo;</span>{% endif %}

  {% ifnotequal  page  last_page %}
<span class="next"><a href="/childcount/patients?page={{last_page}}" title="{% trans "Last Page" %}"> {% trans "Last" %}</a></span>
 {%endifnotequal%}

</div> 
{% endif %}

</div>
<div id='ch-r'>
</div>
</div>
<div style="clear:both;"></div>
{% endblock %}
